.navLinks > a{
  margin:20px;
  font-size: 19px;
  text-decoration: none;
  color: white;
}

.navLinks > a:hover{
  color: #062f46;
}
.categoryList > a{
  font-size: 16px;
}

@media (max-width: 800px) {
  .navLinks > a{
    text-align: center;
  }
}

.navLinks{
  margin-top: 5px;
}
.articleBrowser{
  border-radius:5px;
  background: #ddeeff;
  padding:5px;
  border: 2px solid #65a5cf;
}
.padded{
  padding:10px;
}
.categoryHead{
  border-bottom:2px solid #b7cddb;
}
.categoryHead > a{
  text-decoration: none;
}
