<breadcrumb></breadcrumb>
<div class="container-fluid">
  <h1>{{$stateParams.app | humanize}} settings</h1>
  <div class="row">

    <div class="col-md-6">

      <div ng-repeat="field in settings">

        <div ng-if="field.fieldType=='flag'">

          <div class="checkbox">
            <label ><input type="checkbox" ng-model="field.flag" >  <span style="margin-left:10px;">  {{field.name}} ? </span></label>
          </div>
          <p class="help-block">{{field.description}}</p>
        </div>
        <div ng-if="field.fieldType == 'value'">
          <div class="form-group">
            <label>{{field.name | humanize}}</label>
            <input type="text" class="form-control" ng-model="field.value" placeholder="Enter the value of the field {{field.name}}">
            <p class="help-block">
              {{field.description}}
            </p>
          </div>

        </div>
      </div>
      <div ng-if="$stateParams.app == 'blog'" ng-controller="admin.settings.configure.blog">
        <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" ng-model = "editor.title" placeholder="Add a new tag">
              <span class="input-group-btn">
                <button class="btn btn-success" type="button" ng-click="saveCategory()">{{editor.pk == null ? 'Add':'Save'}} </i></button>
                <button class="btn btn-danger" type="button" ng-click="cancelEditor()" ng-if="editor.pk != null">Cancel</i></button>
              </span>
            </div>
        </div>
        <div style="padding-left:10px;">
          <div class="row" ng-repeat="c in tags" style="{{!$last ? 'border-bottom: solid 2px #eeeeee;':''}}margin-bottom:8px;padding:5px;">
            <div class="col-md-8" >
              {{c.title}}
            </div>
            <div class="col-md-4">
              <div class="btn-group btn-group-sm pull-right">
                <button type="button" class="btn btn-sm btn-default" ng-click="edit($index)">Edit <i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-sm btn-danger" ng-click="delete($index)"><i class="fa fa-trash"></i> </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row container-fluid">

    <button type="button" class="btn btn-primary" ng-if="settings.length >0" ng-click="save()"> Save </button>
    <p class="text-muted" ng-if="!settings.length >0">
      No configurable field found for this application
    </p>
  </div>
</div>
