.sidebar-checkout> li > a {
  color:white;
}

.sidebar-checkout> li > a:hover, .sidebar-checkout > li >a:focus , .sidebar-checkout> .active > a , .sidebarList> li > a:focus , .sidebarList> li > a:active , .activeTab{
	background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%;
	color: #fff;
}

.activeTab:after {
  content: '';
  display: block;
  position: absolute;
  top: 15px;
  right:-16px;
  width: 30px;
  height: 30px;
  background: white;
  -moz-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
}

.register {
    background-image: url("/static/images/register.jpg");
    background-color: #cccccc;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    border-radius: 4px;
    color: #ffffff !important;
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #ffffff !important;
}
