<nav class="navbar navbar-default navbar-fixed-top animated slideInDown">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navBar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        Brand <i class="fa fa-angle-right"></i>
      </a>
      <div class="navbar-brand" >ERP</div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navBar">

  		<ul class="nav navbar-nav">
  			<li ng-class="{active: $state.includes('home')}"><a ui-sref="home"><i class="fa fa-home"></i> Home</a></li>
  			<li ng-class="{active: $state.includes('admin')}"><a ui-sref="admin"><i class="fa fa-user"></i> Admin</a></li>
  		</ul>

  		<ul class="nav navbar-nav navbar-right" style="margin-right:20px;">
  			<li class="dropdown">
  			  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{me.url | getName}}  <span class="glyphicon glyphicon-chevron-down"></span></a>
  			  <ul class="dropdown-menu">
    				<li><img class="img-responsive" width="200px" alt="profile-pic" ng-src="{{me.url | getDP}}" style="top:-5px; position:relative; width:200px"></li>
    				<li><div style="text-align:center; -moz-user-select: none;">{{me.email}}</br><small>(HR Associate)</small></div></li>
    				<li role="separator" class="divider"></li>
    				<li><a href="" ng-click="openSettings('right' , false , settings )"><i class="fa fa-gears fa-fw"></i> Settings</a></li>
            <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
    				<li role="separator" class="divider"></li>
    				<li><a href="" ng-click="about()"> <i class="fa fa-info fa-fw"></i> About</a></li>
  			  </ul>
  			</li>
  		</ul>
      <ul class = "nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" style="width:55px" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-envelope-o fa-lg"></i>
            <span ng-if="instantMessagesCount > 0" class="label label-success" style="position: absolute;top: 5px;">{{instantMessagesCount}}</span>
          </a>
          <ul class="dropdown-menu navDropDownList">
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="nav" style="position:relative; top:-5px;">
                <div ng-repeat="message in ims track by $index">
                <message-strip data = "message" open-chat="addIMWindow" ></message-strip>
                </div>
              </ul>
            </li>
            <a href="#"><i class = "fa fa-external-link"></i> See All Messages</a>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" style="width:55px" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-flag-o fa-lg"></i>
            <span ng-if="notificationsCount > 0" class="label label-warning" style="position: absolute;top: 5px;">{{notificationsCount}}</span>
          </a>
          <ul class="dropdown-menu navDropDownList">
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="nav" style="position:relative; top:-5px;">
                <div ng-repeat="notice in notifications" ng-if="!notice.read">
                  <notification-strip data = "notice" ></notification-strip>
                </div>
              </ul>
            </li>
            <a href="#"><i class = "fa fa-external-link"></i> See All Notifications</a>
          </ul>
        </li>
      </ul> <!-- /. notification icons group -->
      <form  class="navbar-form navbar-right" role="search">
        <i style="margin:10px;" ng-click="terminal.show = !terminal.show;" class="fa fa-terminal noselect"></i>
        <input ng-if="terminal.show" focus-me="terminal.show" type="text" class="form-control animated fadeIn" placeholder="Enter command" ng-enter="parseCommand()"
        ng-model="selected" uib-typeahead="state as state.name for state in statesWithFlags | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html"  ng-blur="closeTerminal()" ng-model = "terminal.command" style="width:500px;">
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div ng-repeat="friend in imWindows">
  <chat-window friend-url="friend.url" pos="$index" id="chatWindow{{friend.username}}" cancel="closeIMWindow($index)"></chat-window>
</div>
