<script type="text/ng-template" id="/profileEditor.html">
  <div class="col-md-6">
    <generic-Form template="'/static/ngTemplates/HR.form.userProfile.html'" data="profile" submit-Fn="updateProfile()" form-title="formTitle" obj-Url="objUrl" wizard="true" max-page="5"></generic-Form>
  </div>
</script>

<script type="text/ng-template" id="/breadcrumb.html">
  <section class="content-header">
    <ol class="breadcrumb">
      <li ng-repeat="part in stateParts"><a style="text-decoration:none;">{{part | humanize}}</a></li>
    </ol>
  </section>
</script>
<script type="text/ng-template" id="/newUserForm.html">

  <div class="form-group" >
    <label for="username">Username</label>
    <input type="text" class="form-control" ng-model="data.username" required id="username" placeholder="username">
  </div>
  <div class="form-group">
    <label for="firstname">First Name</label>
    <input type="text" class="form-control" ng-model="data.firstName" required id="firstname" placeholder="First Name">
  </div>
  <div class="form-group">
    <label for="lastname">Last Name</label>
    <input type="text" class="form-control" ng-model="data.lastName" required id="lastname" placeholder="Last Name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" ng-model="data.password" required id="exampleInputPassword1" placeholder="Password">
  </div>

</script>

<script type="text/ng-template" id="/genericForm.html">
  <div class="container-fluid">
    <form ng-submit="submitFn()">
      <h3>{{formTitle}} </h3>

      </hr>
      <nav ng-if="wizard">
        <ul class="pager">
          <li class="previous"><a href="" ng-click="prev()"><span aria-hidden="true">&larr;</span> Prev</a></li>
          <li class="next"><a href="" ng-click="next()">Next <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
      </nav>
      <div class="row" ng-include="template"></div>
      <div class="row" style="padding:20px;">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    <form>
  </div>
</script>
