<script type="text/ng-template" id="/breadcrumb.html">
  <section class="content-header">
    <ol class="breadcrumb">
      <li ng-repeat="part in stateParts"><a style="text-decoration:none;"> {{part | humanize}} </a></li>
    </ol>
  </section>
</script>
<script type="text/ng-template" id="/newUserForm.html">

  <div class="form-group" >
    <label for="username">Username</label>
    <input type="text" class="form-control" ng-model="data.username" required id="username" placeholder="username">
  </div>
  <div class="form-group">
    <label for="firstname">First Name</label>
    <input type="text" class="form-control" ng-model="data.firstName" required id="firstname" placeholder="First Name">
  </div>
  <div class="form-group">
    <label for="lastname">Last Name</label>
    <input type="text" class="form-control" ng-model="data.lastName" required id="lastname" placeholder="Last Name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" ng-model="data.password" required id="exampleInputPassword1" placeholder="Password">
  </div>

</script>

<script type="text/ng-template" id="/genericForm.html">
  <form ng-submit="submitFn()">
    <h3>{{formTitle}}</h3>

    </hr>
    <nav ng-if="wizard">
      <ul class="pager">
        <li class="previous"><a href="" ng-click="prev()"><span aria-hidden="true">&larr;</span> Prev</a></li>
        <li class="next"><a href="" ng-click="next()">Next <span aria-hidden="true">&rarr;</span></a></li>
      </ul>
    </nav>
    <div ng-include="template"></div>
    <button type="submit" class="btn btn-primary">Submit</button>
  <form>
</script>

<script type="text/ng-template" id="/profileEditForm.html">
  <div ng-show="page==1">
    <div class="form-group">
      <label for="empID">Employee ID</label>
      <input type="number" class="form-control" ng-model="data.empID" id="empID" placeholder="Employee ID">
    </div>

    <div class="form-group">
      <label for="dateOfBirth">Date of Birth</label>
      <input type="text" name="dateOfBirth" class="form-control"  ng-model="data.dateOfBirth" placeholder="Date of Birth">
    </div>

    <div class="form-group">
      <label for="anivarsary">Anivarsary</label>
      <input type="text" name="anivarsary" class="form-control"  ng-model="data.anivarsary" placeholder="Aniversary">
    </div>

    <div class="form-group">
      <label for="permanentAddressStreet">permanentAddressStreet</label>
      <input type="text" class="form-control" ng-model="data.permanentAddressStreet" id="permanentAddressStreet" placeholder="permanentAddressStreet">
    </div>

    <div class="form-group">
      <label for="permanentAddressCity">permanentAddressCity</label>
      <input type="text" class="form-control" ng-model="data.permanentAddressCity" id="permanentAddressCity" placeholder="permanentAddressCity">
    </div>
    <div class="form-group">
      <label for="permanentAddressPin">permanentAddressPin</label>
      <input type="number" class="form-control" ng-model="data.permanentAddressPin"  id="permanentAddressPin" placeholder="permanentAddressPin">
    </div>
    <div class="form-group">
      <label for="permanentAddressState">permanentAddressState</label>
      <input type="text" class="form-control" ng-model="data.permanentAddressState" id="permanentAddressState" placeholder="permanentAddressState">
    </div>
    <div class="form-group">
      <label for="permanentAddressCountry">permanentAddressCountry</label>
      <input type="text" class="form-control" ng-model="data.permanentAddressCountry" id="permanentAddressCountry" placeholder="permanentAddressCountry">
    </div>
  </div>
  <div ng-show="page==2">

    <div class="form-group">
      <label for="localAddressStreet">localAddressStreet</label>
      <input type="text" class="form-control" ng-model="data.localAddressStreet" id="localAddressStreet" placeholder="localAddressStreet">
    </div>

    <div class="form-group">
      <label for="localAddressCity">localAddressCity</label>
      <input type="text" class="form-control" ng-model="data.localAddressCity" id="localAddressCity" placeholder="localAddressCity">
    </div>
    <div class="form-group">
      <label for="localAddressPin">localAddressPin</label>
      <input type="number" class="form-control" ng-model="data.localAddressPin" id="localAddressPin" placeholder="localAddressPin">
    </div>
    <div class="form-group">
      <label for="localAddressState">localAddressState</label>
      <input type="text" class="form-control" ng-model="data.localAddressState" id="localAddressState" placeholder="localAddressState">
    </div>
    <div class="form-group">
      <label for="localAddressCountry">localAddressCountry</label>
      <input type="text" class="form-control" ng-model="data.localAddressCountry" id="localAddressCountry" placeholder="localAddressCountry">
    </div>

    <div class="form-group">
      <label for="prefix">prefix</label>
      <select class="form-control" name="prefix" ng-model = "data.prefix">
        <option value="NA"  >NA</option>
        <option value="Mr" selected >Mr</option>
        <option value="Mrs"  >Mrs</option>
        <option value="Smt"  >Smt</option>
        <option value="Shri"  >Shri</option>
        </select>
    </div>

    <div class="form-group">
      <label for="gender">gender</label>
      <select class="form-control" name="gender" ng-model = "data.gender">
         <option value="M" selected >Male</option>
         <option value="F"  >Female</option>
         <option value="O"  >Other</option>
       </select>
    </div>
  </div>
  <div ng-show="page==3">
    <div class="form-group">
      <label for="email">email</label>
      <input name="email" class="form-control" type="email" ng-model = "data.email">
    </div>
    <div class="form-group">
      <label for="email2">email2</label>
      <input name="email" class="form-control" type="email" ng-model = "data.email2">
    </div>

    <div class="form-group">
      <label for="mobile">mobile</label>
      <input type="number" class="form-control" ng-model="data.mobile" id="mobile" placeholder="mobile">
    </div>


    <div class="form-group">
      <label for="emergency">emergency</label>
      <input type="number" class="form-control" ng-model="data.emergency" id="emergency" placeholder="emergency">
    </div>

    <div class="form-group">
      <label for="tele">tele</label>
      <input type="number" class="form-control" ng-model="data.tele" id="tele" placeholder="tele">
    </div>
    <div class="form-group">
      <label for="website">website</label>
      <input type="url" class="form-control" ng-model="data.website" id="website" placeholder="website">
    </div>
    <div class="form-group">
      <label for="sign">sign:</label>
      <input type="file" name="sign" file-model="data.sign">
    </div>
    <div class="form-group">
      <label for="IDPhoto">IDPhoto:</label>
      <input type="file" name="IDPhoto" file-model="data.IDPhoto">
    </div>

  </div>

  <div ng-show="page==4">
    <div class="form-group">
      <label for="TNCandBond">TNCandBond:</label>
      <input type="file" name="TNCandBond" file-model="data.TNCandBond">
    </div>

    <div class="form-group">
      <label for="resume">resume:</label>
      <input type="file" name="resume" file-model="data.resume">
    </div>

    <div class="form-group">
      <label for="certificates">certificates:</label>
      <input type="file" name="certificates" file-model="data.certificates">
    </div>

    <div class="form-group">
      <label for="transcripts">transcripts:</label>
      <input type="file" name="transcripts" file-model="data.transcripts">
    </div>

    <div class="form-group">
      <label for="OtherDocs">OtherDocs:</label>
      <input type="file" name="OtherDocs" file-model="data.OtherDocs">
    </div>

    <div class="form-group">
      <label for="almaMater">almaMater</label>
      <input type="text" class="form-control" ng-model="data.almaMater" id="almaMater" placeholder="almaMater">
    </div>
    <div class="form-group">
      <label for="pgUniversity">pgUniversity</label>
      <input type="text" class="form-control" ng-model="data.pgUniversity" id="pgUniversity" placeholder="pgUniversity">
    </div>
    <div class="form-group">
      <label for="docUniversity">docUniversity</label>
      <input type="text" class="form-control" ng-model="data.docUniversity" id="docUniversity" placeholder="docUniversity">
    </div>
  </div>

  <div ng-show="page==5">
    <div class="form-group">
      <label for="fathersName">fathersName</label>
      <input type="text" class="form-control" ng-model="data.fathersName" id="fathersName" placeholder="fathersName">
    </div>

    <div class="form-group">
      <label for="mothersName">mothersName</label>
      <input type="text" class="form-control" ng-model="data.mothersName" id="mothersName" placeholder="mothersName">
    </div>


    <div class="form-group">
      <label for="WifesName">WifesName</label>
      <input type="text" class="form-control" ng-model="data.WifesName" id="WifesName" placeholder="WifesName">
    </div>

    <div class="form-group">
      <label for="childCSV">childCSV</label>
      <input type="text" class="form-control" ng-model="data.childCSV" id="childCSV" placeholder="childCSV">
    </div>

    <div class="form-group">
      <label for="note1">note1</label>
      <textarea type="text" rows="4" class="form-control" ng-model="data.note1" id="note1" placeholder="note1"> </textarea>
    </div>
    <div class="form-group">
      <label for="note2">note1</label>
      <textarea type="text" rows="4" class="form-control" ng-model="data.note2" id="note2" placeholder="note2"> </textarea>
    </div>

    <div class="form-group">
      <label for="note3">note1</label>
      <textarea type="text" rows="4" class="form-control" ng-model="data.note3" id="note3" placeholder="note3"> </textarea>
    </div>
  </div>

</script>
