<div class="modal-header bg-blue">
  <div class="container-fluid">
    <h4><span class="pull-right"><i class="fa fa-wrench"></i> Settings</span> <i class="fa fa-arrow-circle-o-left pull-left fa-lg" ng-click="cancel()" style="cursor:pointer;"></i></h4>
  </div>
</div>
<div class="modal-body">
  <form ng-submit="saveSettings()">
    <div class="form-group">
      <label>Display Picture :</label>
      <input type="file" file-model="settings.displayPicture">
    </div>
    <div class="form-group">
      <label >Theme Main :</label>
      <input type="color" ng-model="settings.theme.main">
      <label >highlight :</label>
      <input type="color" ng-model="settings.theme.highlight">
    </div>
    <div class="form-group">
      <label>Mobile :</label>
      <input class="form-control"  type="text" ng-model="settings.mobile">
    </div>
    <hr>
    <h4>Change password</h4>
    <div class="form-group">
      <label >Old Password</label>
      <input type="password" class="form-control" ng-model="settings.oldPassword" placeholder="Old Password" autocomplete="off">
    </div>
    <div class="form-group">
      <label >New Password</label>
      <input type="password" class="form-control" ng-model="settings.password" placeholder="Password" autocomplete="off">
    </div>
    <div class="form-group" ng-class="{'has-error' : settings.password!=settings.password2 && settings.password!=''}">
      <label class="control-label">Confirm Password</label>
      <input type="password" class="form-control" ng-model="settings.password2" placeholder="Confirm Password" autocomplete="off">
    </div>
    <button type="submit" name="button" class="btn btn-success">Save</button>
  </form>
</div>
