{% load staticfiles%}
{% load staticfiles %}
{% load socialaccount %}



<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    {% if useCDN %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" charset="utf-8">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" charset="utf-8">
    {% else %}
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" charset="utf-8">
      <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" charset="utf-8">
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/signin.css' %}" charset="utf-8">
  </head>
  <body>
    <div class="col-md-8" style="background-image: url('/static/images/login.jpg');height:100%;position:absolute;left:0px;">
    </div>
    <div class="col-md-4" style="background-color:#eeeeee;height:100%;position:absolute;right:0px;">
      <form method="post" class="form-signin" action="">{% csrf_token %}
        <h2 class="form-signin-heading" style="color:black;margin-top:200px;">Login</h2>

        {% if authStatus.status != 'default' %}
          <div class="alert alert-{{authStatus.status}}">{{authStatus.message}}</div>
        {% endif %}
        <label for="username" class="sr-only">Username/Email</label>
        <input name="username" type="text" class="form-control" placeholder="Username/Email" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input name="password" type="password" class="form-control" placeholder="Password" required>
        <button style="margin-bottom:20px;" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

        <a style="color:black;" href="/accounts/password/reset/">Forgot password?</a>

        <a href="/register" class="btn btn-success btn-block" style="margin-top:150px;">Register</a>
        <a title="Google" class="btn btn-danger btn-block" href="{% provider_login_url "google" method="oauth2" %}">
          <i class="fa fa-google-plus pull-left"></i>Login with Google
        </a>
        <a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn btn-primary btn-block">
          <i class="fa fa-facebook pull-left"></i> Login with Facebook
        </a>
      </form>
    </div> <!-- /container -->
    {% if useCDN %}
      <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {% else %}
      <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% endif %}
  </body>
</html>
