{% load staticfiles%}
{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/signin.css' %}" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/app.HR.css' %}" charset="utf-8">
  </head>
  <body class="register" >
    <div class="col-md-8" style="background-image: url('/static/images/register.jpg');height:100%;position:absolute;left:0px;">
    </div>
    <div class="col-md-4" style="background-color:#114c91;height:100%;position:absolute;right:0px;">
      <form method="post" class="form-signin" action="">{% csrf_token %}
        <h2 class="form-signin-heading" style="color:white;margin-top:200px;">Register</h2>
        {% if msg.status != 'default' %}
          <div class="alert alert-{{msg.status}}">{{msg.message}}</div>
        {% endif %}

        <label for="name" class="sr-only">Name</label>
        <input name="name" type="text" class="form-control" placeholder="Name" required autofocus>
        <label for="email" class="sr-only">Email</label>
        <input name="email" type="text" class="form-control" placeholder="Email" required>
        <label for="password" class="sr-only">Password</label>
        <input name="password" type="password" class="form-control" placeholder="Password" required>
        <p style="color:white;">
          On clicking Sign Up, you agree to the terms and conditions
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      </form>
    </div>

    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
