<div class="shaddowed card bg-white" style="min-height:750px;position:relative;">

  <breadcrumb></breadcrumb>
  <div class="col-md-9">
    <generic-Calendar date="date" day-Items = "data.items" item-Templates="{{templates}}" day-Clicked="showDay" item-Clicked="showPerticular"></generic-Calendar>
  </div>
  <div class="col-md-3 bg-aqua" style="position:absolute; height:100%;top:0px;right:0px;">
    <div class="row" style="background-color:var(--themeMain);color:white;">

      <div class="dayDetails">
        <div class="sideBarDate"><i class="fa fa-calendar fa-2x pull-left"></i>{{date | date : 'dd MMM yyyy'}} </div>
        {{date | date :'EEEE'}}
        <span style="position:absolute;top:10px;right:10px"><i class="fa fa-plus noselect" ng-click="openForm()"></i></span>
      </div>

    </div>
    <div class="row bg-purple dayInfoBox"  style="max-height:350px;overflow:auto;">
      <!-- <div class=" dayDetails">
        <div class="">
          <i class="fa fa-clock-o fa fa-3x pull-left"></i> <i class="fa fa-sign-in"></i> : 2:26pm
        </div>
        <div class="">
          <i class="fa fa-sign-out"></i> : 3:00am
        </div>
      </div> -->
      <ul class="nav">
        <li>
          <a  href="" ng-click="itemSelected($index)" ng-repeat="item in itemsToShow" class="{{itemsToShow.indexOf(itemInView)== $index ? 'highlighted':''}}">
            <i class="fa fa-users" ng-if="item.type == 'Meeting'"></i>
            <i class="fa fa-bell-o" ng-if="item.type == 'Reminder'"></i>
            {{item.type=='Meeting'? item.type : item.data.text | limitTo:30}}
            <span class="pull-right">
              <i class="fa fa-clock-o"></i> {{item.data.when | date:'hh mm a'}}
              <span  ng-if="item.type == 'Meeting'">
                <i class="fa fa-building-o"></i> {{item.data.venue}}
              </span>
            </span>
          </a>
        </li>
        <li ng-repeat="td in todo" class="noselect">
          <span style="padding:10px 15px;;display:block;" class="inlistForm">
            <input  type="checkbox" ng-model="td.data.completed">
            <span style="{{td.data.completed ? 'text-decoration:line-through;' : ''}}">{{td.data.text}}</span>
            <i ng-click="todo.splice($index , 1)" class="glyphicon glyphicon-trash pull-right" ></i>
          </span>
        </li>
      </ul>
    </div>
    <div ng-if="itemInView.type == 'Meeting'" class="row container-fluid" style="padding-top:10px;padding-bottom:10px;">
      <div class="col-md-2" style="padding-top:10px">
        <i class="fa fa-users fa-3x"></i>
      </div>
      <div class="col-md-10">
        <div class="row" style="padding-left:15px;">
          {{itemInView.data.text}}
        </div>
        <div class="row" style="padding-top:10px">
          <div class="col-md-2">
            <i class="fa fa-clock-o fa-lg pull-right"></i>
          </div>
          <div class="col-md-9">
            {{itemInView.data.when | date:'hh mm a'}}
          </div>
        </div>
        <div class="row" style="padding-top:10px">
          <div class="col-md-2">
            <i class="fa fa-compass fa-lg pull-right"></i>
          </div>
          <div class="col-md-9">
            {{itemInView.data.venue}}
          </div>
        </div>
        <div class="row" style="padding-top:10px" ng-if="itemInView.data.followers.length !=0">
          <div class="col-md-2">
            <i class="fa fa-user fa-lg pull-right"></i>
          </div>
          <div class="col-md-9">
            <span ng-repeat="f in itemInView.data.followers">{{f | getName}}<span ng-if="$index != itemInView.data.followers.length-1">  , </span></span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
