<form ng-submit="saveMeeting()">
  <div class="form-group">
    <label class="control-label col-sm-3" for="agenda">Agenda:</label>
    <div class="col-md-9">
      <textarea type="text" rows="3" name="agenda" value="" class="form-control " required ng-model="data.text"></textarea>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-3" for="attachment">Attachment:</label>
    <div class="col-sm-7">
      <input type="file" name="attachment" file-model="data.attachment">
    </div>
  </div>
  <div class= "form-group">
    <label class="control-label col-sm-3" for="with">With :</label>
    <div class="col-md-9">
      <input type="text" class = "form-control" name = "with" placeholder="Add people by typing the name" ng-model = "data.with">
    </div>
  </div>
  <div class= "form-group">
    <label class="control-label col-sm-3" for="when">When :</label>
    <div class="col-md-9">
      <input type="text" class = "form-control" name = "when" placeholder="When ?" ng-model = "data.when">
    </div>
  </div>

  <div class= "form-group">
    <label class="control-label col-sm-3" for="where">Where :</label>
    <div class="col-md-9">
      <input type="text" class = "form-control" name = "where" placeholder="Where ?" ng-model = "data.venue">
    </div>
  </div>

  <div class= "form-group">
    <label class="control-label col-sm-3" for="tagged">Priority :</label>
    <div class="col-md-9">
      <select class="form-control" ng-model="data.priority">
        <option value="Normal">Normal</option>
        <option value="Critical">Critical</option>
        <option value="Mandatory">Mandatory</option>
        <option value="Optional">Optional</option>
      </select>
    </div>
  </div>

  <div class="row" style="padding:20px;">
    <button type="submit" class="btn btn-primary">Submit</button>
    <a ng-click="resetMeeting()" class="btn btn-default">Reset</a>
  </div>
<form>
