<div class="shaddowed card bg-white" style="min-height:750px;position:relative;">

  <breadcrumb></breadcrumb>
  <div class="col-md-9">
    <generic-Calendar date="date" day-Items = "data.items" item-Templates="{{templates}}" day-Clicked="showDay" item-Clicked="showPerticular"></generic-Calendar>
  </div>
  <div class="col-md-3 bg-aqua" style="position:absolute; height:100%;top:0px;right:0px;">
    <div class="row" style="background-color:var(--themeMain);color:white;">

      <div class="dayDetails">
        <div class="sideBarDate"><i class="fa fa-calendar fa-2x pull-left"></i>{{date | date : 'dd MMM yyyy'}} </div>
        {{dayDisp}}
      </div>

    </div>
    <div class="row bg-purple dayInfoBox">
      <div class=" dayDetails">
        <div class="">
          <i class="fa fa-clock-o fa fa-3x pull-left"></i> <i class="fa fa-sign-in"></i> : 2:26pm
        </div>
        <div class="">
          <i class="fa fa-sign-out"></i> : 3:00am
        </div>
      </div>
      <ul class="nav">
        <li><a href="" ng-click="showPerticular($index)" ng-repeat="item in itemsToShow"> {{item.data.text}} <i class="fa fa-file-text-o pull-right"></i> <i class="fa fa-thumbs-o-up pull-right"></i></a></li>
      </ul>
    </div>
    <div ng-if="itemInView.type == 'Meeting'" class="container-fluid">
      Agenda : {{itemInView.data.text}}
      When : {{itemInView.data.when | date:'hh mm'}}
    </div>
    <div class="row bg-aqua" style="position:absolute;bottom:0px;width:100%;">
      <ul class="nav" >
        <li ng-init="a = false;" >
          <ul class="nav ngCalOptions" >
            <li ng-repeat="f in availableForms"><a ng-click = "openForm(f.name)" ng-if="a"  style="color:white;" class="noselect" >{{f.name}}</a> </li>
            <li><a href="" ng-click="a = !a;" class="noselect" ng-blur="hideAvailableOptions()">Options<i class="fa fa-bars fa-lg pull-right"></i></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

</div>
