<div class="modal-header bg-blue" id="aside">
  <div class="container-fluid">
    <div class="col-md-4 pull-right">
      <div style="float:right;padding-top:10px;">
        <div class="row" style="text-align:right;">
          <a style="text-decoration: none; color: white" href="" ng-click = "viewMode ='likes'">{{data.likes.length==0? '':data.likes.length}}  Likes <i ng-click="like()" class="fa {{liked ?'fa-thumbs-up':'fa-thumbs-o-up'}} fa-lg"></i></a>
        </div>
        <div class="row" style="text-align:right;">
          <a href="" style="text-decoration: none; color: white" ng-click = "viewMode ='comments'">{{ data.comments.length==0? '':data.comments.length }} Comments <i class="fa fa-comment-o fa-lg"></i></a>
        </div>
      </div>
    </div>
    <div class="pull-left md-col-8">
      <div class="col-md-4">
        <img ng-src="{{data.user | getDP}}" height="60px" width="60px" style="float:right; position:relative;"/>
      </div>
      <div class="col-md-8">
        <div class="row">
          <h4><a href=""> </a> {{data.user | getName}}</h4>
        </div>
        <div class="row">
          <span ng-if="isOwner" class="dropdown" style="color:white;padding-top:10px;">
            <i style="cursor:pointer;" class="fa fa-chevron-down dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="" ng-click = "enableEdit()"><i class="fa fa-pencil"></i>  Edit</a></li>
              <li ng-if="onDelete.length != 0" ><a href="" ng-click = "delete(data)"><i class="fa fa-trash"></i>  Delete</a></li>
            </ul>
          </span>
          <span>{{data.created | date:'dd MMM yyyy, hh:mm a'}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-body" id="postModalBody">
  <form ng-if="editMode" class="form-horizontal" name = "postForm" ng-submit= "save()">
    <div class="form-group">
      <div class="container-fluid">
        <textarea type="text" rows="3" name="post" value="" class="form-control " required ng-model="data.text"></textarea>
      </div>
    </div>
    <div class= "form-group">
      <label class="control-label col-sm-2" for="tagged">Tagged :</label>
      <div class="col-md-10">
        <tags-input ng-model="postEditor.tagged" add-on-paste="true" add-From-Autocomplete-Only="true" display-property="username">
          <auto-complete source="loadTags($query)" load-on-down-arrow="true"></auto-complete>
        </tags-input>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="attachment">Attachment:</label>
      <div class="col-sm-10">
        <input type="file" name="attachment" file-model="postEditor.attachment">
      </div>
    </div>
    <div class="btn-group pull-right">
      <button ng-click="cancelEditor()" class = "btn btn-default" name="button">Cancel</button>
      <button type="submit" class = "btn btn-success" name="button">Save</button>
    </div>
  </form>
  <div ng-if="!editMode">
    {{data.text}}
    <div class="container-fluid">
      <!-- to be used for displaying attachment , tagged peoples and other details such as history -->
      <span class="pull-right" ng-if="data.attachment!=null" style="margin-left:10px;">
        <a ng-href="{{data.attachment}}"><i class="fa fa-link"></i></a>
      </span>
      <div class="pull-right" style="display:inline;">
        <div ng-repeat = "user in data.tagged" class="postTags">
          {{user | getName:'short'}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer" ng-show="!editMode">
  <div class="container" style="text-align:left;position:absolute;overflow:auto;box-sizing: border-box;display:block; height:{{commentsHeight}}%; width:98%; padding-right:50px;"  id = "commentsArea">
    <div class="row" ng-if="viewMode == 'comments'">
      <div ng-repeat="comment in data.comments">
        <comment-bubble data = "comment" on-Delete = "deleteComment($index)" config-Obj="postCommentConfig"></comment-bubble>
      </div>
    </div>
    <div class="row" ng-if = "viewMode == 'likes'">
      <div class="col-md-3 col-sm-6 col-xs-12" ng-repeat = "like in data.likes">
        <span class="info-box-icon" style="background-color:white;">
          <div class="row">
            <img style="width: 50%;" class="img" ng-src="{{like.user | getDP}}">
          </div>
          <div class="row {{$index | rainbow}}" style="background:white;height:40px; margin-bottom:10px;">
            <span style="color:black;font-size:12px;color:white; top:-25px;position:relative;">{{like.user | getName}}</span>
          </div>
        </span>
      </div><!-- /.col -->
    </div>
  </div>
  <div class="row">
    <div style="padding:10px;position:absolute;width:100%; bottom:0px; border-top:solid 1px #E5E5E5;" class="container-fluid" id="commentInput">
      <input class="form-control" ng-enter="comment()" type="text" ng-model= "textToComment">
    </div>
  </div>
</div>
