<form class="form-horizontal" name = "postForm" ng-submit= "publishPost()">
  <div class="form-group">
    <label class="control-label col-sm-3" for="post">Post:</label>
    <div class="col-md-7">
      <textarea type="text" rows="3" name="post" value="" class="form-control " required ng-model="post.text"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3" for="attachment">Attachment:</label>
    <div class="col-sm-7">
      <input type="file" name="attachment" file-model="post.attachment">
    </div>
  </div>
  <div class= "form-group">
    <label class="control-label col-sm-3" for="tagged">Tagged :</label>
    <div class="col-md-7">
      <tags-input ng-model="post.tagged" add-on-paste="true" add-From-Autocomplete-Only="true" display-property="username">
        <auto-complete source="loadTags($query)" load-on-down-arrow="true"></auto-complete>
      </tags-input>
    </div>
  </div>
  <button type="submit" class = "btn btn-primary pull-right" name="button">Post</button>
</form>
