body {
  background-color: #eee;
  padding-top:70px;
}

.nav-sidebar{
  background-color: var(--verticalNavbarBg);
}
.nav-sidebar> li > a {
	color:var(--themeMain);
}
.nav-sidebar> .active > a {
  color: #fff;
  background-color: var(--themeMain);
}
.nav-sidebar> li > a:hover, .nav-sidebar > li >a:focus {
	background-color: var(--themeMain);
	color: #fff;
}

.breadcrumb {
    background-color: var(--themeMain);
    border-radius: 0px;
}
.breadcrumb a {
  color: white;
}

.shaddowed{
  box-shadow: 1px 1px 2px #888;
}
.card{
  display: block;
  padding-bottom:40px;
}

.bg-white{
  background-color: white !important;
}

.bg-aqua{
  background-color: #3d9483 !important;
}

.bg-green{
    background-color: #066339 !important;
}

.bg-yellow {
    background-color: #F39C12 !important;
}

.bg-red{
    background-color: #a34337 !important;
}

.bg-blue {
  background-color: #2673a6 !important;
}

.bg-black {
  background-color: #34495e !important;
}
.bg-orange {
  background-color: #b16c04 !important;
}
.bg-purple {
  background-color: #8e44ad !important;
}
.bg-olive {
  background-color: #828504 !important;

}
.bg-fuchsia {
  background-color: #ad2a72 !important;

}


.bg-red, .bg-yellow, .bg-aqua, .bg-blue, .bg-light-blue, .bg-green, .bg-navy, .bg-teal, .bg-olive, .bg-lime, .bg-orange, .bg-fuchsia, .bg-purple, .bg-maroon, .bg-black, .bg-red-active, .bg-yellow-active, .bg-aqua-active, .bg-blue-active, .bg-light-blue-active, .bg-green-active, .bg-navy-active, .bg-teal-active, .bg-olive-active, .bg-lime-active, .bg-orange-active, .bg-fuchsia-active, .bg-purple-active, .bg-maroon-active, .bg-black-active {
  color: #FFF !important;
}



/*Nav bar*/



/*.navbar-default {
  background-color: var(--themeMain);
  border-color:var(--headerNavbarHighlight);
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: var(--headerNavbarHighlight);
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: var(--headerNavbarHighlight);
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: var(--headerNavbarHighlight);
}
.navbar-default .navbar-toggle {
  border-color: var(--headerNavbarHighlight);
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: var(--headerNavbarHighlight);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: var(--headerNavbarHighlight);
  }
}*/
