:root {
  --themeMain: #29547d;
  --headerNavbarHighlight:#123658;
}

body {
  background-color: #eee;
  padding-top:70px;
}

.nav-sidebar{
  background-color: var(--verticalNavbarBg);
}
.nav-sidebar> li > a {
	color:var(--themeMain);
}
.nav-sidebar> .active > a {
  color: #fff;
  background-color: var(--themeMain);
}
.nav-sidebar> li > a:hover, .nav-sidebar > li >a:focus {
	background-color: var(--themeMain);
	color: #fff;
}



/*Nav bar*/

.navbar-default {
  background-color: var(--themeMain);
  border-color:var(--headerNavbarHighlight);
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: var(--headerNavbarHighlight);
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: var(--headerNavbarHighlight);
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: var(--headerNavbarHighlight);
}
.navbar-default .navbar-toggle {
  border-color: var(--headerNavbarHighlight);
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: var(--headerNavbarHighlight);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: var(--headerNavbarHighlight);
  }
}
