{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- stock css libraries -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" charset="utf-8">

    {% block specific_head %}{% endblock %}
    {% block specific_css %}{% endblock %}
  </head>
  <body id="page-top" class="index">

    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    {% block specific_js %}{% endblock %}
  </body>
</html>
