{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- stock css libraries -->
    {% static "" as baseUrl %}
    {% if not USE_CDN %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" charset="utf-8">
    {% else %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" charset="utf-8">
    {% endif %}


    <link href="{% static 'css/public.blogs.css' %}" rel="stylesheet">
    <title>{{serviceName}}-{{blog.title}}</title>
    {% block specific_head %}{% endblock %}
    {% block specific_css %}{% endblock %}
  </head>
  <body id="page-top" class="index">
    <div class="container-fluid">
      <div class="row container-fluid">
        <div class="col-md-2 col-md-offset-2 text-center">
          <a href="/blogs">
            <img src="{% static 'images/libraryIcon.png' %}" width="50" /> <br>
          </a>
          <span style="font-size:18px;">{{tagLine}}</span>
        </div>
        <div class="col-md-4 col-md-offset-2 text-right">
          <div class="row">
            {% if user.is_authenticated %}
              <a href="/blogs/accounts">
                {% if user.first_name %}
                {{user.first_name}}
                {% else %}
                {{user.email}}
                {% endif %}
                {{ user.last_name}}  ({{totalContribution}})</a> |
            {% endif %}
            {% if not user.is_authenticated %}
              <a href="/login">Login/Register</a> |
            {% endif %}
            {% if user.is_authenticated %}
            <a href="/blogs/accounts">My Account</a> |
            {% endif %}
            <a href="/blogs/pages/help">Help</a>
            {% if user.is_authenticated %}|
            <a href="/logout">Log out</a>
            {% endif %}
          </div>
          <div class="row">
            <img src="{{DPSrc}}" class="img-responsive img-circle pull-right" width="50" style="margin-top:10px;" />
          </div>
        </div>
      </div>
      <div class="row" style="background-color:#4682b5;padding:10px;border-top:solid 2px #194a73;border-bottom:solid 2px #194a73;margin-top:30px;">
        <div class="col-md-4 col-md-offset-2">
          <div class="navLinks">
            <a href="/blogs">Search</a>
            <a href="/blogs/browse">Browse</a>
            <a href="/blogs/donate">Donate</a>
            {% if not user.is_anonymous %}
            <a href="/blogs/saved">Saved Paper</a>
            {% endif %}
          </div>
        </div>
        {% if showSearchInHeader %}
        <div class="col-md-2 col-md-offset-2">
          <form action="/blogs/search/" method="post">{% csrf_token %}
            <input name="key" type="text" class="form-control" placeholder="Search over {{articlesCount}} articles" value="{{key}}">
            <input type="submit" style="display:None;">
          </form>
        </div>
        {% endif %}
      </div>
      <div class="col-md-8 col-md-offset-2" style="padding-top:10px;">
        {% for message in messages %}
            {% if 'success' in message.tags %}
                <div class="alert alert-success">
                    <a class="close" href="#" data-dismiss="alert">×</a>
                    <strong>Success!</strong>
                        {{ message }}
                </div>
            {% endif %}
        {% endfor %}
        {% for message in messages %}
            {% if 'danger' in message.tags %}
                <div class="alert alert-danger">
                    <a class="close" href="#" data-dismiss="alert">×</a>
                    <strong>Error!</strong>
                        {{ message }}
                </div>
            {% endif %}
        {% endfor %}
        {% for message in messages %}
            {% if 'info' in message.tags %}
                <div class="alert alert-info">
                    <a class="close" href="#" data-dismiss="alert">×</a>
                    <strong>INFO!</strong>
                        {{ message }}
                </div>
            {% endif %}
        {% endfor %}
      </div>
      {% block content %}{% endblock %}
      <br>
      <div class="row col-md-12" style="padding:20px;margin-top:20px;">
        <hr>
        <div class="col-md-3 text-center">
          <a href="{{twitterLink}}" target="_blank" class="fa-stack fa-lg" style="color:black;cursor:pointer;">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
          </a>
          <a href="{{linkedInLink}}" target="_blank" class="fa-stack fa-lg" style="color:black;cursor:pointer;">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x"></i>
          </a>
          <a href="{{fbLink}}" target="_blank" class="fa-stack fa-lg" style="color:black;cursor:pointer;">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x"></i>
          </a>
        </div>
        <div class="col-md-6 text-center">
          <a href="/blogs/pages/privacy">Privacy Policy</a> |
          <a href="/blogs/pages/terms">Terms of Service</a> |
          <a href="/blogs/pages/copyright"> Copyright Information</a> |
          <a href="/blogs/pages/contactUs">Contact Us</a> |
          <a href="/blogs/pages/help">Help</a> |
          <a href="/blogs/pages/advertise">Advertise With Us</a>
        </div>
        <div class="col-md-3 text-center">
          Copyright (C) 2016 {{copyrightName}}
        </div>
      </div>
    </div>
    {% if not USE_CDN %}
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% else %}
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {% endif %}
    {% block specific_js %}{% endblock %}
  </body>
</html>
