<div class="shaddowed card bg-white" style="min-height:700px;">
  <breadcrumb></breadcrumb>
  <div class="container-fluid">

    <div ng-hide="statusMessage==''" class="alert alert-{{httpStatus}} fade in">{{statusMessage}}</div>
    <uib-tabset>
      <uib-tab >
        <uib-tab-heading>
          New  <i class="fa fa-plus"></i>
        </uib-tab-heading>
        <div class="col-md-6">
          <generic-Form template="'/newUserForm.html'" data="newUser" submit-Fn="createUser()" form-title="'Create New User'"></generic-Form>
        </div>
      </uib-tab>
      <uib-tab heading="Search" active="searchTabActive">
        <generic-Table callback-Fn = "tableAction" options='options' resource-Url = "'/api/HR/users/'" search="true"
            primary-Search-Field="'username'" views='views' multiselect-Options = 'multiselectOptions' get-Params = "getParams"></generic-Table>
      </uib-tab>
      <uib-tab ng-repeat="tab in tabs" active="tab.active" disable="tab.disabled">
        <uib-tab-heading ng-click="$event.stopPropagation();">
          {{tab.title}} <i ng-if="tab.cancel" class="fa fa-close" ng-click="closeTab($index);$event.stopPropagation();"></i>
        </uib-tab-heading>
        <div ng-if="tab.app == 'profileEditor'">
          <profile-Editor obj-Url="tab.objUrl"></profile-Editor>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>
