<div class="form-group" >
  <label for="username">Username</label>
  <input type="text" class="form-control" ng-model="data.username" required id="username" placeholder="username">
</div>
<div class="form-group">
  <label for="firstname">First Name</label>
  <input type="text" class="form-control" ng-model="data.firstName" required id="firstname" placeholder="First Name">
</div>
<div class="form-group">
  <label for="lastname">Last Name</label>
  <input type="text" class="form-control" ng-model="data.lastName" required id="lastname" placeholder="Last Name">
</div>
<div class="form-group">
  <label for="exampleInputPassword1">Password</label>
  <input type="password" class="form-control" ng-model="data.password" required id="exampleInputPassword1" placeholder="Password">
</div>
