<div class="container-fluid" style="min-height:600px;padding:0px;margin-top:20px;">
  <div class="col-md-8 col-md-offset-2 ">
    <div ng-repeat="l in listings" >
      <div class="col-md-4 anim-in-out anim-zoom-out" style="margin-bottom:15px;">
        <div class="container-fluid" style="cursor:pointer;" ng-click="$state.go('details' , {id : l.pk})">
          <div class="row" >
            <img style="width: 100%;" class="img" ng-src="{{l.files[0].attachment}}" >
          </div>
          <div class="row" >
            <div class="container-fluid card bg-white" style="padding:10px;">
              <h4>{{l.title}}</h4>
              {{l.providerOptions.length}} {{l.providerOptions.length>1? 'Vendors' : 'Vendor'}}
              <span class="pull-right">
                Starts from  <span style="font-size:20px;margin-left:10px;">
                  {{l.bestOffer.rate}} <i class="fa fa-inr"></i>
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
