<div class="navbar navbar-default navbar-fixed-top animated slideInDown" >
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand " style="position:relative;font-size:20px;" ui-sref="ecommerce">{{settings.serviceName ? settings.serviceName:'Ecommerce'}} <i class="fa {{settings.logo? settings.logo : 'fa-shopping-cart'}}"></i></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >

    <ul class="nav navbar-nav navbar-right">
      <li ng-if="me != null" style="margin-right:10px;">
        <a ui-sref="account.cart"><i class="fa fa-shopping-cart" ></i>
          <div class="label label-primary" style="position:absolute;top:5px;right:-5px;">{{inCart.length==0? '':inCart.length}}</div>
        </a>
      </li>
      <li ng-if="me == null" style="margin-right:40px;">
        <a  href="/login"><i class="fa fa-sign-in"></i></a>
      </li>
      <li class="dropdown" ng-if="me != null" style="margin-right:30px;">
			  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{me.url | getName}}  <span class="glyphicon glyphicon-chevron-down"></span></a>
			  <ul class="dropdown-menu" >
  				<li><img class="img-responsive" width="200px" src="/static/images/userIcon.png" ng-src="{{me.profile.displayPicture}}" style="top:-5px; position:relative; width:200px"></li>
  				<li>
            <div style="text-align:center; -moz-user-select: none;">{{me.email}}</br>
            </div>
          </li>
  				<li role="separator" class="divider"></li>
  				<li><a ui-sref="account.orders"><i class="fa fa-gears fa-fw"></i> Accounts </a></li>
          <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
			  </ul>
			</li>
    </ul>
    <div ng-if="!($state.is('ecommerce') || $state.is('pages'))">
      <div class="navbar-form navbar-right" style="position:relative;right:10%;">
        <span style="position:relative;">Dropin</span>
        <i class="fa fa-calendar fa-2x {{getDateTimePickerClass()}}" style="cursor:pointer;margin-left:20px;" id="dLabel" data-toggle="dropdown" ></i>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <datetimepicker data-ng-model="data.dropInTime" data-on-set-time="checkDateTime(newDate, oldDate)"
            data-datetimepicker-config="{ dropdownSelector: '#dLabel' , minView :'hour' }"></datetimepicker>
        </ul>
        <span style="margin-left:100px;cursor:pointer;position:relative;" class="fa fa-arrow-right fa-2x text-muted" ng-click="refreshResults()"></span>
      </div>
      <div style="width:30%;margin-right:10%;" class="navbar-form navbar-right">
        <div style="width:100%;position:relative;">
          <input style="width:100%;" uib-typeahead="location as location.description for location in getLocationSuggeations($viewValue)"
          ng-model="data.location" type="text" class="form-control" placeholder="Where are you ? .." >
        </div>
      </div>
      <div class="navbar-form navbar-right" style="position:relative;">
        <span style="position:relative;">Pickup</span>
        <i class="fa fa-calendar fa-2x" style="cursor:pointer;margin-left:20px;"id="dLabel2" data-toggle="dropdown" ></i>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel2">
          <datetimepicker data-ng-model="data.pickUpTime"
          data-datetimepicker-config="{ dropdownSelector: '#dLabel2' , minView :'hour'}"></datetimepicker>
        </ul>
      </div>
    </div>
  </div>
  <!-- /.navbar-collapse -->
<!-- /.container-fluid -->
</div>

<div ng-if="$state.is('list') || $state.is('details')" ng-init="tripDetails=true;" style="position:fixed;top:110px;left:{{!tripDetails? '-240px' : '0px;'}};
  display:inline-block;z-index:100;color:white;background-color:#1b375c;width:;box-sizing:border-box;transition:left 0.1s linear;width:240px;">

  <div class="container-fluid" style="display:inline-block;overflow: hidden;">
    <h3 class="text-muted" style="color:white;">Trip details</h3>
    <p>
      <strong>Starts : </strong><br> {{data.pickUpTime | date : 'dd-MMM-yyyy: hh:mm a'}} {{data.pickUpTime ? '':'Not selected'}}
    </p>
    <p>
      <strong>Ends : </strong> <br> {{data.dropInTime | date : 'dd-MMM-yyyy: hh:mm a'}} {{data.dropInTime? '':'Not selected'}}
    </p>
  </div>
  <div style="position:absolute;display:block;right:-40px;top:0px;width:40px;height:40px;
    background-color:#e69a41;padding-top:6px;border-radius:0px 5px 5px 0px;cursor:pointer;" ng-click="tripDetails = !tripDetails "
    class=" text-center">
    <i class="fa fa-chevron-{{tripDetails? 'left': 'right'}} fa-2x"></i>
  </div>
</div>



<!--
<div ng-init="showShortlist=false;" class="bg-white card" style="position:fixed; top:70px;right:{{!showShortlist ? '-350' : '0'}}px;transition:right 0.1s linear;
  width:350px;height:250px;z-index:10;border-left:solid 5px #831bad;">
  <div style="position:absolute;right:266px;width:200px;height:32px;top:100px;background-color:#831bad;cursor:pointer;
    transform: rotate(-90deg);border-radius : 6px 6px 0px 0px; padding-right:20px;padding-left:20px;" ng-click="showShortlist = !showShortlist;">
    <span style="font-size:18px;color:white;letter-spacing: 3px;"><i class="fa fa-star"></i> Shortlist
      <span class="badge" style="background-color:white;"><span style="color:#be2611;">0</span></span>
    </span>
  </div>

</div> -->

<div ng-init="showFeedback=false;" class="bg-white card" style="position:fixed; top:350px;right:{{!showFeedback ? '-350' : '0'}}px;transition:right 0.1s linear;
  width:350px;height:460px;z-index:10;border-left:solid 5px #136ab1;">
  <div style="position:absolute;right:290px;width:150px;height:32px;top:100px;background-color:#136ab1;cursor:pointer;
    transform: rotate(-90deg);border-radius : 6px 6px 0px 0px; padding-right:20px;padding-left:20px;" ng-click="showFeedback = !showFeedback;">
    <span style="font-size:18px;color:white;letter-spacing: 3px;">Feedback
    </span>
  </div>
  <div class="container-fluid" style="margin:10px;">
    <div class="row">
      <strong>Send us your feeback / message / complaint or query.</strong>
    </div>
    <div class="row" style="margin-top:20px;">
      <div class="form-group">
        <label> Email</label>
        <input type="email" ng-model="feedback.email" class="form-control" placeholder="Enter your email address">
      </div>
      <div class="form-group">
        <label> Mobile</label>
        <input type="number" ng-model="feedback.mobile"  class="form-control" placeholder="Enter your mobile number">
      </div>

      <div class="form-group">
        <label> Message</label>
        <textarea rows="3" ng-model="feedback.message"  class="form-control" placeholder="Enter your message/feedback"> </textarea>
      </div>

      <div style="position:absolute;bottom:10px;">
        <button type="button" class="btn btn-success" ng-click="sendFeedback()">
          Send
        </button>
        <button type="button" class="btn btn-default" ng-click="showFeedback=false;">
          Cancel
        </button>
      </div>
    </div>
  </div>



</div>
