<div class="container-fluid card" ng-controller="controller.ecommerce.account.orders.item" style="padding:10px;border-left:4px solid #0c9a9e;position:relative;">
  <div class="row">
    <div class="col-md-2">
      <div class="row" style="padding-left:17px;">
        <i class="fa fa-motorcycle fa-3x"></i>
      </div>
      <div class="row" style="margin-top:10px;">
        <span style="font-size:20px;margin-left:13px;">{{data.item.title}}</span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row" style="padding-left:10px;">
        <i class="fa fa-calendar fa-2x"></i> <span style="font-size : 18px;margin-left:10px;">Booking # {{data.id}}</span>
      </div>
      <div class="row" style="margin-top:10px;">
        <div class="col-md-3">
          From : <br>
          To :
        </div>
        <div class="col-md-9">
          {{data.start | date : 'dd-MMM-yyyy : HH:MM a'}} <br>
          {{data.end | date : 'dd-MMM-yyyy : HH:MM a'}}
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <div class="row" style="padding-left:10px;">
        <i class="fa fa-clock-o fa-3x"></i>
      </div>
      <div class="row" style="margin-top:10px;">
        <span style="font-size:20px;">{{bookingTime()}} Hrs</span>
      </div>
    </div>
    <div class="col-md-2" style="padding-top:20px;">
      <i class="fa fa-3x fa-inr"></i>
      <span style="font-size:23px;top:-8px;position:relative;margin-left:10px;">{{getBookingAmount()}}</span>
      <small style="margin-left:20px;">@ {{data.rate}}</small>
    </div>
    <div class="col-md-1 " >
      <div class="row hoverableDiv">
        <div style="display:block;box-sizing: border-box;text-align:center;">
          <a ng-href="{{getInvoiceLink()}}" class="fa fa-print fa-2x" style="color:#000000 !important;text-decoration: none !important;"></a> <br>
          <span >Print Invoice</span>
        </div>
      </div>
      <div class="row ">
        <span class="dropdown" ng-if="['new' , 'inProgress'].indexOf(data.status) != -1" >
          <i style="cursor:pointer;margin-left:37%;" class="fa fa-ellipsis-h fa-2x" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li ng-if="['new'].indexOf(data.status) != -1"><a href="" ng-click = "cancelBooking('canceledByCustomer')"><i class="fa fa-close"></i> Cancel</a></li>
          </ul>
        </span>
      </div>
    </div>
    <div class="col-md-1 text-center" style="padding:20px;">
      <i class="fa fa-info fa-2x" style="cursor:pointer;" ng-click="toggleInfo()"></i>
    </div>
    <div class="col-md-1 " style="position:absolute;height:100%;top:0px;right:0px;padding-top:15px;text-align:center;">
      <i class="fa {{getStatusClass(data.status)}} fa-3x" ></i>
      <br>
      <span style="font-size:11px;margin-top:10px;width:200px;position:relative;">
        <span ng-if="data.status != 'canceledByCustomer'">{{data.status | humanize}}</span>
        <span ng-if="data.status == 'canceledByCustomer'">Canceled</span>
      </span>
    </div>
  </div>
  <div class="row anim-in-out anim-fade"  data-anim-speed="200" ng-if="showInfo">
    <hr>
    <div class="container-fluid">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-2">
            Address
          </div>
          <div class="col-md-5">
            {{data.offer.service.address.street}} <br>
            {{data.offer.service.address.city}} <br>
            {{data.offer.service.address.state}} <br>
            {{data.offer.service.address.pincode}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            Name
          </div>
          <div class="col-md-5">
            {{data.offer.service.name}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            Mobile
          </div>
          <div class="col-md-5">
            {{data.offer.service.mobile}}
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="btn-group-vertical">
          <button type="button" ng-click="requestConfirmation('sms')" class="btn btn-default">
            Request SMS
          </button>
          <button type="button" ng-click="requestConfirmation('email')" class="btn btn-default">
            Request Email
          </button>
          <button type="button" ng-click="showMap()" class="btn btn-success">
            Show map
            <i class="fa fa-map-marker"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
