<div class="container-fluid" >
  <div class="col-md-10 col-md-offset-1 card bg-white" style="display:block;position:relative;min-height:760px;padding-left:0px;margin-bottom:30px;">

    <div class="col-md-2  bg-purple" style="position:absolute; height:100%;">
      <div class="row" style="padding-left:40%; padding-top:20px;">
        <i class="fa fa-shopping-cart fa-4x"></i>
      </div>

      <h4 style="text-align:center;text-transform:capitalize;color:white;">
        Checkout
      </h4>
      <hr>
      <div style="position:absolute;left:0px;width:100%;display:block;" class="bg-purple">
        <ul class="nav padded sidebar-checkout" style="width:100%;padding:0px;margin:0px;display:block;height:603px;">
          <li ng-class="{activeTab: data.stage == 'review'}">
            <a >
              <div align="center">
                <i class="fa fa-check fa-2x pull-left"></i>
                Review
              </div>
            </a>
          </li>
          <li ng-class="{activeTab: data.stage == 'shippingDetails'}">
            <a >
              <div align="center">
                <i class="fa fa-truck fa-2x pull-left"></i>
                Shipment details
              </div>
            </a>
          </li>
          <li ng-class="{activeTab: data.stage == 'payment'}">
            <a  >
              <div align="center">
                <i class="fa fa-credit-card fa-2x pull-left"></i>
                Pay
              </div>
            </a>
          </li>
          <li ng-if="data.stage=='confirmation'" ng-class="{activeTab: data.stage == 'confirmation'}">
            <a  >
              <div align="center">
                <i class="fa fa-check-circle fa-2x pull-left"></i>
                Confirmation
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-10 col-md-offset-2">
      <div class="container-fluid" style="margin-top:30px;">
        <div ng-if="data.stage == 'review'">
          <div class="row">
            <div class="col-md-3">
              <img style="width: 100%;" class="img" ng-src="{{item.files[0].attachment}}" >
            </div>
            <div class="col-md-3">
              <div class="row">
                <span style="font-size:25px;">{{item.title}}</span>
              </div>
              <div class="row">
                <strong>Rate : </strong> {{offering.rate}}
                <span ng-if="item.priceModel=='time'">/ per Hour</span>
                <span ng-if="item.priceModel=='quantity'">/ per Piece</span>
                <span ng-if="item.priceModel=='weight'">/ per Kg</span>
              </div>
              <div class="row">
                <strong>Vendor : </strong> {{offering.service.name }} <br>
                <!-- <uib-rating ng-model="rate" max="5" readonly="true" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
                <br> Power Seller <i style="color:#db55e7;" class="fa fa-shield"></i> -->
              </div>
            </div>
            <!-- <div class="col-md-3" style="padding-top:10px;">
              <div class="input-group">
                <span class="input-group-addon">#</span>
                <input type="text" class="form-control" ng-model = "data.quantity">
                <span class="input-group-addon" ng-if="item.priceModel=='time'">Bookings</span>
                <span class="input-group-addon" ng-if="item.priceModel=='quantity'">Pieces</span>
                <span class="input-group-addon" ng-if="item.priceModel=='weight'">Kgs</span>
              </div>
              <div class="input-group pull-left"  style="margin-top:40px;">
                <span class="input-group-addon">Coupon code</span>
                <input ng-model="data.coupon" type="text" class="form-control">
              </div>

            </div> -->
            <div class="col-md-6">
              <div ng-if="item.priceModel=='time'">
                <span style="font-size:25px;">Trip details</span>
                <p>
                  <strong>Starts : </strong><br> {{data.pickUpTime | date : 'dd-MMM-yyyy: hh:mm a'}} {{data.pickUpTime ? '':'Not selected'}}
                </p>
                <p>
                  <strong>Ends : </strong> <br> {{data.dropInTime | date : 'dd-MMM-yyyy: hh:mm a'}} {{data.dropInTime? '':'Not selected'}}
                </p>
              </div>
              <div ng-if="item.priceModel=='quantity'">
                <span class="text-muted" style="font-size:20px;">Shipping method</span>
                <br>
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" value="express" ng-model="data.shipping">
                    One day express {{data.expressShipping}}
                  </label>
                  <p class="help-block">
                    <i class="fa fa-inr"></i> 30 additional charge
                  </p>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" value="normal" ng-model="data.shipping">
                     7 Day
                  </label>
                  <p class="help-block">
                    <i class="fa fa-inr"></i> No additional charge
                  </p>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row" style="margin-top:30px;padding:10px;">
            <div class="col-md-6">
              <div class="row">
                <span class="text-muted" style="font-size:20px;">Subtotal</span>
                <br>
                <i class="fa fa-2x fa-inr"></i> {{getBookingAmount()}}
              </div>
            </div>
            <div class="col-md-6">
              <button type="button" class="btn btn-success pull-right" ng-click="next()">
                Next
              </button>
            </div>
          </div>
        </div>
        <!-- review page ends here  -->
        <div ng-if="data.stage == 'shippingDetails'">
          <div class="row">
            <div class="col-md-6 col-md-offset-2">
              <h2>Address</h2>
              <div class="form-group">
                <label>Address : </label>
                <textarea ng-model="data.address.street" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <label>Pincode : </label>
                <input ng-model="data.address.pincode" type="number" class="form-control">
              </div>
              <div class="form-group">
                <label>City : </label>
                <input ng-model="data.address.city" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>State : </label>
                <input ng-model="data.address.state" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Mobile no. : </label>
                <input ng-model="customerProfile.mobile" type="text" class="form-control">
              </div>
              <div ng-if="attachment == null" style="padding:0px;">
                <div class="col-md-8" style="padding:0px;">
                  <div class="form-group">
                    <label>Driving license</label>
                    <input type="file" file-model="data.attachment" class="form-control" >
                    <p class="help-block">Browse and upload a copy of your driving license.</p>
                  </div>
                </div>
                <div class="col-md-4" style="padding:0px;">
                  <button type="button" class="btn btn-primary pull-right" ng-click="uploadAttachment()">
                    Upload
                  </button>
                </div>
              </div>
              <div ng-if="attachment != null">
                Attached License : <a target="_blank" ng-href="{{attachment.attachment}}">{{attachment.name}}</a>
              </div>
            </div>
          </div>
          <div class="row" >
            <button type="button" class="btn btn-default pull-left" ng-click="prev()">
              Go back
            </button>
            <button type="button" class="btn btn-success pull-right" ng-click="next()">
              Next
            </button>
          </div>
        </div>
        <!-- shippingDetails pane end here -->
        <div ng-if="data.stage == 'payment'">

          <div class="row">
            <h1>COD</h1>
            <p>
              <strong>Total amount payable :</strong>{{getBookingAmount()}}
            </p>
          </div>

          <div class="row" >
            <button type="button" class="btn btn-default pull-left" ng-click="prev()">
              Go back
            </button>
            <button type="button" class="btn btn-success btn-lg pull-right" ng-click="pay()">
              Pay
            </button>
          </div>
        </div>
        <div ng-if="data.stage == 'processing'">
          <div class="col-md-4 col-md-offset-4">
            <div class="text-center">
              <i class="fa fa-spinner fa-spin fa-5x"></i> <br>
              <span>Please wait</span>
            </div>
          </div>
        </div>
        <div ng-if="data.stage == 'confirmation'">
          <h1>Thank you</h1>
          <h2>Your order details are as follows</h2>
          <strong> Order No. : </strong> {{data.order.id}}<br>
          <strong> Order date and time : </strong> {{data.order.created | date : 'dd-mm-yyyy: hh:mm:ss a'}}<br>
          <strong> Item ID : </strong> {{data.order.offer}}<br>
          <strong> Payment mode. : </strong> {{data.order.paymentType}}<br>
          <hr>
          <strong> Booking starts from : </strong> {{data.order.start | date : 'dd-mm-yyyy: hh:mm:ss a'}}<br>
          <strong> Booking ends at : </strong> {{data.order.end | date : 'dd-mm-yyyy: hh:mm:ss a'}}<br>
        </div>
      </div>


    </div>


  </div>
</div>
