<nav class="navbar navbar-default navbar-fixed-top" style="background-color:#208374;height:60px;">
    <div class="container" style="position:relative;top:-20px;width:100%;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand " style="position:relative;top:-5px;" ui-sref="ecommerce">Ecommerce <i class="fa fa-shopping-cart"></i></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li ng-if="me != null" style="margin-right:10px;">
                <a ui-sref="account.cart"><i class="fa fa-shopping-cart" ></i>
                  <div class="label label-warning" style="position:absolute;top:0px;right:-5px;">{{inCart.length==0? '':inCart.length}}</div>
                </a>
              </li>
              <li>
                <a ng-if="me == null" href="/login/?next=/ecommerce"><i class="fa fa-sign-in"></i></a>
                <a style="text-transform: capitalize;" ng-if="me != null" ui-sref="account"><i class="fa fa-user"></i> {{me.url | getName}}</a>
              </li>
            </ul>
            <div class="navbar-form navbar-right" style="position:relative;right:20%;top:-5px;">
              <span style="color:white;position:relative;top:-10px;">Dropin</span>
              <span class="fa fa-clock-o fa-3x" style="color:white;cursor:pointer;" id="dLabel" data-toggle="dropdown" >
              </span>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="data.dropInTime"
                  data-datetimepicker-config="{ dropdownSelector: '#dLabel' }"></datetimepicker>
              </ul>

              <span style="color:white;margin-left:60px;cursor:pointer;top:-6px;position:relative;" class="fa fa-arrow-right fa-2x" ng-click="refreshResults()"></span>

            </div>
            <div style="width:600px;margin-right:20%;" class="navbar-form navbar-right">
              <div style="width:100%;position:relative;">
                <input style="width:100%;" uib-typeahead="location as location.description for location in getLocationSuggeations($viewValue)"
                ng-model="data.location" type="text" class="form-control" placeholder="Where are you ? .." >
              </div>
            </div>
            <div class="navbar-form navbar-right" style="position:relative;top:-5px;">
              <span style="color:white;position:relative;top:-10px;">Pickup</span>
              <span class="fa fa-clock-o fa-3x" style="color:white;cursor:pointer;"id="dLabel2" data-toggle="dropdown" >
              </span>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel2">
                <datetimepicker data-ng-model="data.pickUpTime"
                data-datetimepicker-config="{ dropdownSelector: '#dLabel2' }"></datetimepicker>
              </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div ng-if="$state.is('ecommerce') || $state.is('details')" style="position:fixed;top:70px;left:10px;padding:10px;display:block;z-index:100;">
  <h3 class="text-muted">Trip details</h3>
  <p>
    <strong>Starts : </strong><br> {{data.pickUpTime | date : 'dd-MMM-yyyy: hh:mm a'}} {{data.pickUpTime ? '':'Not selected'}}
  </p>
  <p>
    <strong>Ends : </strong> <br> {{data.dropInTime | date : 'dd-MMM-yyyy: hh:mm a'}} {{data.dropInTime? '':'Not selected'}}
  </p>
</div>

<!-- <header ng-if="$state.is('ecommerce')" style="background-image: url('/static/images/ecommerce2.jpg');position:relative; top:-30px ;max-height:400px ;">
    <div class="container-fluid" style="position:relative;top:-100px;">
        <div class="intro-text">
            <div class="intro-lead-in">Lowest price</div>
            <div class="intro-heading">Amazing deals</div>
        </div>
    </div>
</header> -->
