<breadcrumb></breadcrumb>
<div class="container-fluid">

  <div class="row">
    <div class="container-fluid">
      <div class="col-md-1 text-center" >
        <i class="fa fa-2x fa-play" style="cursor:pointer;" ng-click="play()"></i> <br> <br>
        <i class="fa fa-2x fa-pause" style="cursor:pointer;" ng-click="pause()"></i> <br> <br>
        <i class="fa fa-2x fa-stop-circle" style="cursor:pointer;" ng-click="stop()"></i>
      </div>
      <div class="col-md-11">
        <table class="table table-bordered jobList" ng-if="jobs.length != 0">
          <thead>
            <tr>
              <th>
              </th>
              <th>Robot
              </th>
              <th>
                Process
              </th>
              <th>User</th>
              <th>Status</th>
              <th>Updated</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="j in jobs" style="{{j.selected? 'border-left:solid 3px #3f51b5 !important;':''}}" class="{{j.status}}">
              <td>
                <input type="checkbox" ng-model="j.selected">
              </td>
              <td>
                {{j.robot}}
              </td>
              <td>
                {{j.process.name}}
              </td>
              <td>
                {{j.user | getName}}
              </td>
              <td>
                {{j.status}}
              </td>
              <td>
                {{j.updated | timeAgo}}
              </td>
            </tr>
          </tbody>
        </table>
        <div class="text-center text-muted" style="font-size:18px;" ng-if="jobs.length ==0">
          No jobs to show, drag one from the process list to any resouce.
        </div>
      </div>
    </div>
  </div>
  <hr>


  <div class="row" style="padding:15px;padding-top:0px;">
    <div class="col-md-6" style="padding-right:20px;">
      <div class="row">
        <strong>Available Processes</strong> <small>Drag and drop a process to a reqource to run it.</small>
      </div>
      <div class="row">

        <generic-Table data="data.tableData" config-Obj="{{config}}" callback-Fn="tableAction"></generic-Table>

      </div>

    </div>
    <div class="col-md-6">
      <div class="row">
        <strong>Available Resources</strong>
      </div>
      <div class="row" style="border:2px solid #eeeeee;max-height:50vh;overflow:auto;">
        <div class="col-md-3 text-center" ng-repeat="r in [1,2,4,5,6,7]" style="padding:20px;" >
          <i class="fa fa-4x fa-desktop" ng-drop="true" ng-drop-success="onDropComplete($data,$event , r)"></i> <br>
          BB1024 {{i}}
        </div>
      </div>
    </div>
  </div>


</div>
