<div class="row container-fluid">
  <div class="input-group" style="padding-top:15px;width:100%;" >
    <input ng-show="{{searchShow}}" type="text" class="form-control" placeholder="Search by {{searchField}}" ng-model = "searchText" ng-enter="updateData()" style="{{views.length==1 ? 'width:100%;' : ''}}">
    <div class="input-group-btn"  ng-if="views.length > 1">
      <a ng-repeat = "view in views" class='btn btn-default ' ng-click = "changeView($index)"><i class="fa {{view.icon}}"></i></a>
      <!-- <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">Use in report</a></li>
        <li><a href="#">Export</a></li>
        <li><a href="#">Print</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Send via email</a></li>
      </ul> -->
    </div>
  </div>
</div>
<nav>
  <ul class="pagination pull-right">
    <li ng-repeat="num in itemsNumPerView" ng-class="{'active' : itemsNumPerView[$index] == itemsPerView}" ng-click="changeNumView(itemsNumPerView[$index])"><a href="">{{num}}</a></li>
    <li ng-if="searchShow" ng-click="fetchData()"><a href=""><i class="fa fa-refresh"></i></a></li>
  </ul>
  <ul class="pagination pull-right" style="margin-right: 10px;">
    <li ng-repeat = "option in multiselectOptions" ng-click = "multiSelectAction(option.text)"><a href="" style="color: #6f6f6f;"><i class = "{{option.icon}}">  {{option.text | humanize}}</i></a></li>
  </ul>
  <ul class="pagination pull-right" style="margin-right: 10px;">
    <li  class="dropdown" ng-repeat="f in filters">
      <div class="btn-group">
        <button type="button" ng-if="f.orderable" class="btn btn-primary" ng-click="f.ascend = !f.ascend">{{f.ascend ? 'Ascending' : 'Descending'}}</button>
        <button class="btn btn-{{f.btnClass}} dropdown-toggle" type="button" data-toggle="dropdown" > <i class="{{f.icon}}"></i> {{f.key | humanize}} : {{f.options[f.active].value}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" style="right:0px;">
          <li ng-repeat="o in f.options" ng-click="f.active = $index;"><a href="">{{o.value | humanize}}</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <ul class="pagination pull-right" style="margin-right: 10px;">
    <li class="dropdown" ng-repeat="d in drills">
        <button class="btn btn-{{d.btnClass}} dropdown-toggle" style="min-width:200px;" type="button" data-toggle="dropdown" ><i class="{{d.icon}}"></i> {{d.name | humanize}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" style="right:0px;padding:10px;margin-top:10px;">
          <li style="cursor:pointer;padding:5px;position:relative;" ng-repeat="o in d.options" ng-click="o.value = !o.value;$event.stopPropagation();"><i class="fa fa-{{o.value ? 'check-':''}}square-o fa-lg"></i><span style="left:30px;position:absolute;">{{o.key | humanize}}</span></li>
        </ul>
    </li>
  </ul>
  <ul class="pagination pull-right" style="margin-right: 10px;" ng-if="canCreate">
    <li ng-click = "create()"><a href="" style="color: #6f6f6f;">New  <i class = "fa fa-plus"></i></a></li>
  </ul>
  <ul class="pagination">
    <li ng-click="loadPrevSetPages()" class="{{pageList.indexOf(1) != -1 ? 'disabled' : ''}}">
      <a href="" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li ng-repeat="page in pageList" ng-class="{'active':pageList[$index]==pageNo}" ng-click="changePage(pageList[$index])"><a href="">{{page}}</a></li>
    <li ng-click="loadNextSetPages()"  class="{{pageList.indexOf(pageCount) != -1 ? 'disabled' : ''}}">
      <a href="" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
<div class="row container-fluid">
  <div ng-include = "views[viewMode].template"></div>
</div>
