{% extends "blogs.ngBase.html" %}
{% load staticfiles %}

{% block content %}
  {% verbatim %}

  <div class="col-md-8 col-md-offset-2" ng-app="app" ng-controller="public.blogs.donate" >
    <div class="alert alert-{{message.class}}" ng-if="message.show">
        <strong>{{message.class}}!</strong>
            {{ message.text }}
    </div>
    <h3>Donate and help others</h3>
    <div class="row" style="margin-bottom:10px;">
      <div class="col-md-1">
        Title:
      </div>
      <div class="col-md-5">
        <input type="text" ng-model="title" class="form-control">
      </div>
      <div class="col-md-1">
        Category:
      </div>
      <div class="col-md-5">
        <input type="text" ng-model="category" class="form-control" uib-typeahead="c as c.title for c in categorySearch($viewValue)" placeholder="Search and select a category">
      </div>
    </div>
    <div class="row">
      <textarea ui-tinymce="tinymceOptions" ng-model="editorText"></textarea>
    </div>
  </div>


  <br>
  {% endverbatim %}
{% endblock %}

{% block blogs_specific_js %}
  <script type="text/javascript">
    USER = {{user.pk}};
  </script>

  {% if USE_CDN %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.3.4/tinymce.min.js"></script>
  {% else %}
  <script src="{% static 'js/tinymce.min.js' %}"></script>
  {% endif %}

  <script src="{% static 'js/ng-tinymce.js' %}"></script>
  <script src="{% static 'js/public.blogs.donate.js' %}"></script>
{% endblock %}
