{% extends "blogsBase.html" %}
{% load staticfiles %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
  <h2>Help</h2>
  <hr>
  <ul>
    <li>
      <strong>
        How do I view these free papers?
      </strong> <br>
      First you will need to sign up for an account, and donate a paper.
    </li>
    <li>
      <strong>
        How do I contribute my essays to this database?
      </strong><br>
      First create your account. Essays can be submitted by members using our essay submission form.
    </li>
    <li>
      <strong>
        How do I save a copy of a paper on my computer?
      </strong><br>
      After highlighting and copying all of the text from the desired paper, simply paste the copied text into an open Word document (or similar word processing document).
    </li>
    <li>
      <strong>
        How do you decide the number of pages in a paper?
      </strong><br>
      The page counts of our papers are decided using a 250 words per page base count.
    </li>
    <li>
      <strong>
        Do bibliographies come with all of these papers?
      </strong><br>
      Unfortunately, not all of our papers have bibliographies, although many of them do.
    </li>
    <li>
      <strong>
        Why isn’t this plagiarism?
      </strong><br>
      This site is intended only for submitting and reviewing other users' papers. Plagiarism only happens when someone claims the work of someone else as their own. We must ask that you never turn in any papers from this website as your own.

    </li>
    <li>
      <strong>
        I can’t seem to remember my account information. Can I retrieve it somehow?
      </strong><br>
      We understand. Simply visit our forgot password page to retrieve this information.
    </li>
    <li>
      <strong>
        What if I want to delete my paper from this site?
      </strong><br>
      Simply send us a link to your essay and we’ll remove it.
    </li>
    <li>
      <strong>
        I discovered my copyrighted paper on this website without my permission. Can you remove it?
      </strong><br>
      Yes, if you contact us, we’ll work with you to get these materials removed. Be sure you check this http://www.assignmenthouse.com/blogs/pages/privacy .
    </li>
    <li>
      <strong>
        What’s the right way to cite these papers?
      </strong><br>
      Please use the same guidelines for citing all other internet sources. See an example here: http://www.wikihow.com/Cite-a-Web-Site.
    </li>
    <li>
      <strong>
        Can you send me charts, graphs or images for these papers?
      </strong><br>
      No. We don’t accept any attachments when users upload papers to us.
    </li>
    <li>
      <strong>
        I want to search your site for a specific topic. How do I do that?
      </strong><br>
      Please search for specific papers by using the box at the top of the page.
    </li>
  </ul>
</div>

{% endblock %}
