{% extends "blogsBase.html" %}
{% load staticfiles %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
  <h2>Advertise and grow with us </h2>
  <hr>
  Assignment House now accepts advertising to reach our targeted audience of over 350,000 monthly unique visitors. Our audience consists of the highly engaged, most sought-after 18-34 demographic segment. We offer advertisers and sponsors the opportunity to customize ads including option for roadblocks, 100% share-of-voice sponsorships, skins, home page takeovers and other types of rich media.

  Please contact us to learn more about advertising opportunities with www.assignmenthouse.com.
  <br>
  <strong>Email : </strong> assignmenthouse@outlook.com
</div>

{% endblock %}
