{% extends "blogs.ngBase.html" %}
{% load staticfiles %}

{% block content %}

  <div class="col-md-8 col-md-offset-2" ng-app="app" ng-controller="public.blogs.accounts" >
    <h3>Accounts</h3>

    <uib-tabset>
      <uib-tab>
        <uib-tab-heading>
          <i class="fa fa-file"></i> My Contributions
        </uib-tab-heading>
        {% if contributed %}
        <h4>Here is all your uploaded articles</h4>
        {% else %}
        <h4>Looks like you have not contributed any article yet. Navigate to <a href="/blogs/donate">Donate</a> link above to start helping others.</h4>
        {% endif %}
        {% for a in contributedArticles %}
          <ul>
            <li><a href="/blogs/article/{{a.title}}">{{a.title}}</a></li>
          </ul>
        {% endfor %}
      </uib-tab>
      {% if profileTab %}
      <uib-tab active="true">
      {% else %}
      <uib-tab>
      {% endif %}
        <uib-tab-heading>
          <i class="fa fa-user"></i> Profile
        </uib-tab-heading>
          <div class="col-md-6">
            <h4>Here you can change your profile details</h4>
            <form action="/blogs/accounts/?page=profile" enctype="multipart/form-data" method="post"> {% csrf_token %}
              <div class="form-group">
                <label>Email</label>
                <input id="email" name="email" type="email" class="form-control" value="{{email}}">
              </div>
              <div class="form-group">
                <label>Display Pic</label>
                <input id="dp" name="dp" type="file">
              </div>
              <div class="form-group">
                <img class="img-responsive" width="200px" src="{{DPSrc}}" style="top:-5px; position:relative;">
              </div>
              <button type="submit" class="btn btn-primary">Save</button>
            </form>
          </div>
      </uib-tab>
      {% if showPasswordTab %}
      {% if passwordTab %}
      <uib-tab active="true">
      {% else %}
      <uib-tab>
      {% endif %}
        <uib-tab-heading>
          <i class="fa fa-key"></i> Password
        </uib-tab-heading>
        <div class="col-md-6">
          <h4>Password change</h4>
          <form action="/blogs/accounts/?page=password" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label>Old Password</label>
              <input id="oldpassword" name="oldpassword" type="password" class="form-control" autocomplete="off">
            </div>
            <div class="form-group">
              <label>New Password</label>
              <input id="password1" name="password1" type="password" class="form-control" autocomplete="off">
            </div>
            <div class="form-group">
              <label>Confirm New Password</label>
              <input id="password2" name="password2" type="password" class="form-control" autocomplete="off">
            </div>
            <button type="submit" class="btn btn-success" >Submit</button>
          </form>
        </div>
      </uib-tab>
      {% endif %}
    </uib-tabset>

  </div>

  <br>
{% endblock %}

{% block blogs_specific_js %}
  <script src="{% static 'js/public.blogs.accounts.js' %}"></script>
{% endblock %}
