{% extends "blogsBase.html" %}
{% load staticfiles %}

{% block specific_js %}
  <script type="text/javascript">
    $(function() {
      $('form').each(function() {
          $(this).find('input').keypress(function(e) {
              // Enter pressed?
              if(e.which == 10 || e.which == 13) {
                  this.form.submit();
              }
          });

          $(this).find('input[type=submit]').hide();
      });
    });
  </script>

{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        {% if showAdvertisement %}
        <div class="col-md-8">
        {% else %}
        <div class="col-md-12">
        {% endif %}
          <div class="row">
            <p style="font-size:30px;padding:20px;">
              {{homeHead1}}
            </p>
            <p style="padding:20px;">
              {{homeHead2}}
            </p>
          </div>
          <div class="row" style="background-color:#bad5ec;padding:20px;margin:5px;">
            <form action="search/" method="post">{% csrf_token %}
              <input name="key" type="text" class="form-control" placeholder="Search over {{articlesCount}} articles">
              <input type="submit">
            </form>
          </div>

        </div>
        {% if showAdvertisement %}
        <div class="col-md-4">
          <a href="{{advertisementURL}}">
            <img src="{{baseUrl}}{{advertisementImageURL}}" style="width:100%;margin-top:30px;" /> <br>
          </a>
        </div>
        {% endif %}
      </div>
      <div class="row" style="padding:20px;">
        <p style="color:#b80e69;font-size:20px;">
          Or browse the latest submissions..
        </p>
        <hr>
        <div class="row">
          <div class="col-md-4">
              <div class="articleBrowser">
                <ul style="padding-left:20px;">
                  {% for a in recents %}
                  <li class="categoryHead"><a href="{% url 'blogsArticleView' a.title %}">{{a.title}}</a>
                  </li>
                  {% endfor %}
                </ul>
            </div>
          </div>
          <!-- <div class="col-md-4">
              <div class="articleBrowser">
                <ul style="padding-left:20px;">
                  <li class="categoryHead">Help
                  </li>
                  <li class="categoryHead">Help
                  </li>
                  <li class="categoryHead">Help
                  </li>

                  <li class="categoryHead">Help
                  </li>
                  <li>Help
                  </li>
                </ul>
            </div>
          </div>
          <div class="col-md-4">
              <div class="articleBrowser">
                <ul style="padding-left:20px;">
                  <li class="categoryHead">Help
                  </li>
                  <li class="categoryHead">Help
                  </li>
                  <li class="categoryHead">Help
                  </li>

                  <li class="categoryHead">Help
                  </li>
                  <li>Help
                  </li>
                </ul>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>

{% endblock %}
