{% extends "blogsBase.html" %}
{% load staticfiles %}

{% block content %}

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <p style="font-size:30px;padding:20px;">
              Search Example.com For Student Essays, Research Papers And Book Reports.
            </p>
            <p style="padding:20px;">
              We have a virtual warehouse full of term papers. Find the perfect one by entering your search below.
            </p>
          </div>
          <div class="row" style="background-color:#bad5ec;padding:20px;margin:5px;">
            <input type="text" class="form-control" placeholder="Search over 10,000 articles">
          </div>

        </div>
        <div class="col-md-4">
          <img src="{% static 'images/advertisementBanner.jpg' %}" style="width:100%;margin-top:30px;" /> <br>
        </div>
      </div>
      <div class="row" style="padding:20px;">
        <p style="color:#b80e69;font-size:20px;">
          Or browse the latest submissions..
        </p>
        <hr>
        <div class="row">
          <div class="col-md-4">
              <div class="articleBrowser">
                <ul style="padding-left:20px;">
                  {% for a in recents %}
                  <li class="categoryHead"><a href="/blogs/article/{{a.title}}">{{a.title}}</a>
                  </li>
                  {% endfor %}
                </ul>
            </div>
          </div>
          <!-- <div class="col-md-4">
              <div class="articleBrowser">
                <ul style="padding-left:20px;">
                  <li class="categoryHead">Help
                  </li>
                  <li class="categoryHead">Help
                  </li>
                  <li class="categoryHead">Help
                  </li>

                  <li class="categoryHead">Help
                  </li>
                  <li>Help
                  </li>
                </ul>
            </div>
          </div>
          <div class="col-md-4">
              <div class="articleBrowser">
                <ul style="padding-left:20px;">
                  <li class="categoryHead">Help
                  </li>
                  <li class="categoryHead">Help
                  </li>
                  <li class="categoryHead">Help
                  </li>

                  <li class="categoryHead">Help
                  </li>
                  <li>Help
                  </li>
                </ul>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>

{% endblock %}
