{% extends "blogsBase.html" %}
{% load staticfiles %}

{% block content %}

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        {% if showAdvertisement %}
        <div class="col-md-8">
        {% else %}
        <div class="col-md-12">
        {% endif %}
          <div class="row">
            <p style="font-size:30px;padding:20px;">
              Search or Browse for category.
            </p>
          </div>
          <div class="row" style="background-color:#bad5ec;padding:20px;margin:5px;">
            <form action="{% url 'blogsSearchView' %}" method="post">{% csrf_token %}
              <input name="key" type="text" class="form-control" placeholder="Search over {{articlesCount}} articles">
              <input type="submit" style="display:None;">
            </form>
          </div>
        </div>
        {% if showAdvertisement %}
        <div class="col-md-4">
          <a href="{{advertisementURL}}">
            <img src="{{baseUrl}}{{advertisementImageURL}}" style="width:100%;margin-top:30px;" /> <br>
          </a>
        </div>
        {% endif %}
      </div>
      <div class="row" style="padding:20px;">
        <p style="color:#b80e69;font-size:20px;">
          Or browse the category..
        </p>
        <hr>
        <div class="row">
          <div class="col-md-6 categoryList">
            {% for c in categories %}
            <a href="{% url 'blogsCategoryView'  c.title %}">{{c.title}}</a> <br>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
