.fileList:hover {
  background-color: #eeeeee;
  cursor: pointer;
}
.commitNotification{
  border-left:solid 5px #bb5d18;
  padding-top:15px;
  padding-bottom:15px;
}
.commitNotification:hover{
  background: #f2f2f2;
  cursor: pointer;
}

pre{
  background: white;
  border: none;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
}
code{
  padding:0px !important;
}
.codeAdded pre , .codeAdded{
  background: #ddffdd;
}
.codeDeleted pre , .codeDeleted{
  background: #ffdddd;
}

.codeTable{
  width:96%;
  min-width: 1250px;
  margin-left:2%;
  margin-bottom:10px;
  border:solid 2px #b5b5b5;
  margin-bottom: 30px;
}
