{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="col-md-6 col-md-offset-3">
    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
      <form method="POST" action="" >
        {% csrf_token %}
        <label for="id_email">E-mail:</label>
        <input id="id_email" class="form-control" name="email" size="30" type="email">
        <div class="form-actions" style="margin-top:20px;">
          <input class="btn btn-primary" type="submit" value="{% trans "Reset My Password" %}" />
        </div>
      </form>
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
