{{message}}

<h3>{{product}}</h3>

<table width="100%">
  <tr>
    <td>
      Order ID :
    </td>
    <td>
      {{id}}
    </td>
  </tr>
  <tr>
    <td>
      From :
    </td>
    <td>
      {{startTime}}
    </td>
  </tr>
  <tr>
    <td>
      To :
    </td>
    <td>
      {{endTime}}
    </td>
  </tr>
  <tr>
    <td>
      Tatal amount :
    </td>
    <td>
      {{totalCost}} INR
    </td>
  </tr>
  <tr>
    <td>
      Booking duration :
    </td>
    <td>
      {{totalHrs}} Hours
    </td>
  </tr>
</table>
