:root {
  --themeMain: #3d9483;
  --headerNavbarHighlight:#276c5f;
  --flatAccordionLevelThree: #65ab98;

  /*--themeMain:#d77a2d ;
  --headerNavbarHighlight:#a2581c;
  --flatAccordionLevelThree: #a66633;*/

  --verticalNavbarBg: #eeeeee;
}

/* for the table panel */
[ng-drag]{
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
[ng-drag]{
  /*display: inline-block;*/
  cursor: move;
}
[ng-drop]{
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
[ng-drag].drag-over{
}
[ng-drop].drag-enter{
}

/*
ul.draggable-objects:after{
  display: block;
  content:"";
  clear:both;
}*/





.blurred {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.modal-xl {
    width: 96%; /* respsonsive width */
}

/* flat sidebar navigation */
.nav-sidebar {
  background-color: var(--verticalNavbarBg);
}
.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
}
.nav-sidebar > .nav-sidebar-heading {
  color: #fff;
  padding: 10px;
  text-align: center;
  background-color: var(--themeMain);
}

.nav-sidebar > li > a:hover {
	background-color: var(--headerNavbarHighlight);
	color: #fff;
}
.nav-sidebar > .activeAction >a {
	background-color: var(--headerNavbarHighlight);
	color: #ffffff;
}


/* for the side panel accordion */
.nav-sidebarAccordion {
  position: absolute;
}
.nav-sidebarAccordion > .panel> .panel-heading:hover {
  border-radius: 0px;
	cursor:pointer;
  color: #ffffff;
	background-color: var(--themeMain);
}


/* ======= Ends : Accordion vertical menubar on the admin page ======  */

/* flat navbar for the whats new notifications */

.nav-sidebarWhatsnew {
  background-color: var(--verticalNavbarBg);
  position: fixed;
  width:15%;
  height:100%;
}
.nav-sidebarWhatsnew > li > a {
	padding-right: 20px;
	padding-left: 20px;
}

.nav-sidebarWhatsnew > li > .header {
	padding : 10px;
  display: block;
  color: white;
  background-color: var(--themeMain);
  text-align: center;
}
.nav-sidebarWhatsnew > li > a:hover {
	padding-right: 20px;
	padding-left: 20px;
  background-color: var(--themeMain);
  color: white;
}

/* flat sidebar navigation on dashboard*/
.nav-sidebarDashboard {
  background-color: var(--verticalNavbarBg);
  position: fixed;
  width:8%;
  margin-left:-20px;
  height:100%;
}
.nav-sidebarDashboard > li > a {
	padding-right: 20px;
	padding-left: 20px;
	color:var(--themeMain);
}
.nav-sidebarDashboard > .active > a {
  color: #fff;
  background-color: var(--themeMain);
}

.nav-sidebarDashboard > li > a:hover, .nav-sidebarDashboard > li >a:focus {
	background-color: var(--themeMain);
	color: #fff;
}



.sidebar-secMenu>li>a:hover{
	background-color: var(--themeMain);
}

.sidebar-secMenu > .active > a {
  color: #fff;
  background-color: var(--themeMain);
}

.form-control{
  border-radius: 0px;
}
.btn{
  border-radius: 0px;
}


/* image galary*/
.imgProfileGallery{
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
  margin-bottom:20px;
}

/* flat accordion nav bar */


.cssmenuAccordion ul,
.cssmenuAccordion ul li,
.cssmenuAccordion ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cssmenuAccordion {
  /*width: 220px;*/
  color: #ffffff;
}
.cssmenuAccordion ul ul {
  display: none;
}
.cssmenuAccordion > ul > li.open > ul> li >a {
  display: block;
  background: var(--flatAccordionLevelThree);
}

.cssmenuAccordion > ul > li.open > ul> li >a:hover {
  display: block;
  background: var(--themeMain);
}

.align-right {
  float: right;
}
.cssmenuAccordion > ul > li > a {
  padding: 15px;
  cursor: pointer;
  color: #ffffff;
  background: var(--themeMain);
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
.cssmenuAccordion ul > li.has-sub.open >a{
  background: var(--themeMain);
}
.formInsideAccodrion{
  background: var(--flatAccordionLevelThree);
  padding: 16px 7px;
  padding-right: 8px;
}
.formInsideAccodrion>input{
  color: black;
}
.cssmenuAccordion > ul > li > a:hover ,.cssmenuAccordion > ul > li > a:focus {
  color: #ffffff;
  background: var(--themeMain);
}

.cssmenuAccordion ul ul li a {
  padding: 14px 10px;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  background: var(--headerNavbarHighlight);
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
.cssmenuAccordion ul ul ul li a {
  /*padding-left: 32px;*/
}
.cssmenuAccordion ul ul li a:hover {
  color: #ffffff;
}
.cssmenuAccordion ul ul > li.has-sub > a:after {
  top: 16px;
  /*right: 26px;*/
  background:#ffffff;
}
.cssmenuAccordion ul ul > li.has-sub > a:before {
  top: 20px;
  background: #ffffff;
}

/*CSS menu accrdion ends here */


.bs-callout {
    margin-bottom:10px;
    padding: 4px;
    padding-bottom:0px;
    border-width: 4px;
    background-color:var(--verticalNavbarBg);
}

/*Image in the feed views on the profile*/
.center-cropped {
  width: 70px;
  height: 70px;
  margin-left: 0px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.75);
  margin-bottom: 5px;
}


.info-box {
  display: block;
  min-height: 90px;
  background: #FFF none repeat scroll 0% 0%;
  width: 100%;
  margin-bottom: 15px;
}

.info-box-bordered{
  background-color: var(--verticalNavbarBg);

}
.bg-aqua{
  background-color: #3d9483 !important;
}

.bg-green{
    background-color: #066339 !important;
}

.bg-yellow {
    background-color: #F39C12 !important;
}

.bg-red{
    background-color: #a34337 !important;
}

.bg-blue {
  background-color: #2673a6 !important;
}

.bg-black {
  background-color: #34495e !important;
}
.bg-orange {
  background-color: #b16c04 !important;
}
.bg-purple {
  background-color: #8e44ad !important;
}
.bg-olive {
  background-color: #828504 !important;

}
.bg-fuchsia {
  background-color: #ad2a72 !important;

}


.bg-red, .bg-yellow, .bg-aqua, .bg-blue, .bg-light-blue, .bg-green, .bg-navy, .bg-teal, .bg-olive, .bg-lime, .bg-orange, .bg-fuchsia, .bg-purple, .bg-maroon, .bg-black, .bg-red-active, .bg-yellow-active, .bg-aqua-active, .bg-blue-active, .bg-light-blue-active, .bg-green-active, .bg-navy-active, .bg-teal-active, .bg-olive-active, .bg-lime-active, .bg-orange-active, .bg-fuchsia-active, .bg-purple-active, .bg-maroon-active, .bg-black-active {
  color: #FFF !important;
}
.info-box-faIcon {
  line-height: 90px;
}
.info-box-icon {
  border-radius: 2px 0px 0px 2px;
  display: block;
  float: left;
  height: 100%;
  width: 90px;
  text-align: center;
  font-size: 45px;
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%;
}

.info-box-content {
  padding: 5px 10px;
  margin-left: 90px;
}
.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 18px;
}

info-box-bordered >.progress-description, .info-box-text {
  display: block;
  text-transform: capitalize;
  font-size: 14px;
  white-space: nowrap;
  overflow: show;
}

.info-box .progress .progress-bar {
    background: #FFF none repeat scroll 0% 0%;
}

.info-box .progress, .info-box .progress .progress-bar {
    border-radius: 0px;
}
.info-box .progress {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%;
    margin: 5px -10px;
    margin-top: 5px;
    margin-right: -10px;
    margin-bottom: 5px;
    margin-left: -10px;
    height: 2px;
}
.progress, .progress > .progress-bar, .progress .progress-bar, .progress > .progress-bar .progress-bar {
    border-radius: 1px;
}
.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #F5F5F5;
    border-radius: 4px;
}

.small-box {
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0px 0px 0px;
    margin-left:10px;
    white-space: nowrap;
    padding: 10px;
}

.small-box p {
    font-size: 15px;
    margin-left: 10px;
    box-sizing: border-box;
    padding:5px;
}

.small-box .icon {
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
}

.small-box > .small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0px;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0% 0%;
    text-decoration: none;
}


.box-widget {
    border: medium none;
    position: relative;

}
.box {
    position: relative;
    background: #FFF none repeat scroll 0% 0%;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}
.widget-user-2 .widget-user-header {
    padding: 20px;
}

.widget-user-2 .widget-user-image > img {
  width: 65px;
  height: auto;
  float: left;
  vertical-align: middle;
  box-sizing: border-box;
  border-radius: 50%;
}
.widget-user-2 .widget-user-username, .widget-user-2 .widget-user-desc {
    margin-left: 75px;
}
.widget-user-2 .widget-user-username {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 300;
}

.widget-user-2 .widget-user-username, .widget-user-2 .widget-user-desc {
    margin-left: 75px;
}
.widget-user-2 .widget-user-desc {
    margin-top: 0px;
}

.box-footer {
    background-color: var(--verticalNavbarBg);
    box-sizing: border-box;
}

.nav-stacked > li > a {
    border-top: 0px none;
    border-left: 3px solid transparent;
    color: #444;
    position: relative;
    display: block;
}
.nav-stacked > li > a:hover {
    background-color: #d6d3d3
}

.widget-user .widget-user-header {
    padding: 20px;
    height: 150px;
}

.bg-black {
    background-color: #111 !important;
}
.widget-user .widget-user-username {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 300;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.widget-user .widget-user-image {
    position: absolute;
    top: 90px;
    left: 50%;
    margin-left: -45px;
    box-sizing: border-box;
}
.widget-user .widget-user-image > img {
    width: 90px;
    height: auto;
    border: 3px solid #FFF;
    border-radius: 50%;
    vertical-align: middle;
    box-sizing: border-box;
}

.widget-user .box-footer {
    padding-top: 30px;
}

.widget-user .widget-user-desc {
    margin-top: 0px;
}

.description-block {
    display: block;
    margin: 10px 0px;
    text-align: center;
    box-sizing: border-box;
}

.description-block > .description-header {
    margin: 0px;
    padding: 0px;
    font-weight: 600;
    font-size: 16px;
}


.list-group {
    padding-left: 0px;
    margin-bottom: 20px;
}

.list-group-unbordered > .list-group-item {
    border-left: 0px none;
    border-right: 0px none;

}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #FFF;
    border: 1px solid #DDD;
    box-sizing: border-box;
}

.list-group>li:hover{
  background:var(--verticalNavbarBg);
}

.profile-user-img {
    margin: 0px auto;
    width: 100px;
    padding: 3px;
    border: 3px solid #D2D6DE;
}



.timeline {
    position: relative;
    margin: 0px 0px 30px;
    padding: 0px;
    list-style: outside none none;
}
.timeline  li {
    position: relative;
    margin-right: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.timeline .time-label > span {
    font-weight: 600;
    padding: 5px;
    display: inline-block;
    background-color: #FFF;
    border-radius: 4px;
}
.timeline  .time-label > span {
    font-weight: 600;
    padding: 5px;
    display: inline-block;
    background-color: #FFF;
    border-radius: 4px;
}
.timeline li > .fa, .timeline li > .glyphicon, .timeline li > .ion {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    color: #666;
    background: #5a6d91 none repeat scroll 0% 0%;
    border-radius: 50%;
    text-align: center;
    left: 18px;
    top: 0px;
}

.timeline-inverse li > .timeline-item {
    background: #F0F0F0 none repeat scroll 0% 0%;
    border: 1px solid #DDD;
    box-shadow: none;
}
.timeline li > .timeline-item {
    /*box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);*/
    border-radius: 3px;
    margin-top: 0px;
    background: #FFF none repeat scroll 0% 0%;
    color: #444;
    margin-left: 60px;
    margin-right: 15px;
    padding: 0px;
    position: relative;
    box-sizing: border-box;
}


.timeline li > .timeline-item > .time {
    color: #999;
    float: right;
    padding: 10px;
    font-size: 12px;
    box-sizing: border-box;
}

.timeline-inverse li > .timeline-item > .timeline-header {
    border-bottom-color: #DDD;
}
.timeline li > .timeline-item > .timeline-header {
    margin: 0px;
    color: #555;
    border-bottom: 1px solid #F4F4F4;
    padding: 10px;
    font-size: 16px;
    line-height: 1.1;
}
.timeline li > .timeline-item > .timeline-body, .timeline li > .timeline-item > .timeline-footer {
    padding: 10px;
    box-sizing: border-box;
}
.timeline li > .timeline-item > .timeline-footer  a{
  text-decoration: none;
}

.timeline li > .timeline-item > .timeline-body, .timeline li > .timeline-item > .timeline-footer {
    padding: 10px;
    box-sizing: border-box;
}

.timeline::before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 4px;
    background: #DDD none repeat scroll 0% 0%;
    left: 31px;
    margin: 0px;
    border-radius: 2px;
    box-sizing: border-box;
}

.panel-group .panel{
  border-radius:0px;
}


/*Nav bar dropdowns*/

.navDropDownList > li > ul{
  height: 400px;
  width:400px;
  list-style: outside none none;
  box-sizing:border-box;
  display: block;
}
.navDropDownList > a{
  position: relative;
  left: 10px;
  text-decoration: none;
}
.navBarInfoList:hover, .navBarInfoList:focus{
  border-left-color: #ffb206;
  cursor: pointer;
  background: #f5f5f5;
}
.navBarInfoList{
  border-left-style: solid;
  border-left-width: 6px;
  border-left-color: #ffffff;
  box-sizing:border-box;
  display: block;
  height: 60px;
  border-bottom-color: #ebe7e7;
  border-bottom-style: solid;
  border-bottom-width: thin;
}
.navBarInfoList>a{
  color : #1266b4;
}

.navbar-form >input{
  border-radius: 20px;
  /*border-color: var(--headerNavbarHighlight);*/
}

.chatWindow{
  position:fixed;
  bottom:0px;
  /*right:30px;*/
  width:300px;
  /*height:500px;*/
  background: #f9f9f9;
  border-top-style: solid;
  border-top-width: 4px;
  border-top-color: #e3a10f;
  z-index:10;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.chatWindow > .header{
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #bfbfbf;
  height: 36px;
  /*background: #e4e4e4;*/

}
.chatWindow > .header > .container-fluid{
  padding: 7px;
  /*height: 40px;*/
}
.chatWindow > .header > .container-fluid:hover{
  cursor: default;
}
.chatWindow > .header > .container-fluid>.username{
  padding-left: 10px;
  font-size: 15px;
}
.chatWindow > .header > .container-fluid>.onlineStatus{
  color: #00be52;
  font-size: 15px;
}
.chatWindow > .footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #bfbfbf;
  /*background: #390061;*/
}
.chatWindow > .footer > .container-fluid{
  padding: 10px;
  /*height: 40px;*/
}
.messageView{
  overflow:auto;
  position: absolute;
  box-sizing: border-box;
  display: block;
  height: 405px;
  width: 100%;
}
.messageBubble{
  margin-top: 10px;
  margin-bottom: 10px;
  background: white;
  border-radius: 4px;
  padding: 10px;
  /*width: 100%;*/
  border-style: solid;
  border-color: #89ccae;
  border-width: 1px;

}
