<div class="modal-header bg-blue" id="aside" style="height:8vh;padding:10px;">
    <div class="col-md-7">
      <div class="row">
        <h3 style="margin-top:5px;">
          <i class="octicon octicon-package" style="font-size:30px;"></i>
          {{commit.repo.name}}
        </h3>
      </div>
    </div>
    <div class="col-md-3 pull-right" style="padding-right:40px;color:white;">
        <div class="col-md-8" style="padding-top:15px;">
            <span class="pull-right" ng-if="commit.user">{{commit.user | getName}}</span>
            <span class="pull-right" ng-if="!commit.user">{{commit.committer.name}}</span>
        </div>
        <div class="col-md-4">
            <img ng-src="{{commit.user | getDP}}" class="img-circle pull-right" width="50"/>
        </div>
    </div>
</div>
<div ng-if="loading" class="modal-body text-center" id="postModalBody" style="padding-top:200px;position:absolute;overflow:auto;height:92vh;width:100%;">
  <i class="fa fa-spin fa-spinner" style="font-size:100px;"></i>
</div>
<div ng-if="!loading" class="modal-body" id="postModalBody" style="position:absolute;overflow:auto;height:92vh;width:100%;">
    <div class="row">
      <div class="col-md-8">
        <div ng-repeat="(key , val) in commitData.files">
          <div class="col-md-1">
            <span class="label label-warning col-md-6">-{{val.deletions}}</span>
            <span class="label label-success col-md-6">+{{val.insertions}}</span>
          </div>
          <div class="col-md-11">
            <span ng-click="gotoAnchor(key)" style="cursor:pointer;">{{key}} <span ng-if="comments[key].length>0"
              style="margin-left:20px;"><i class="fa fa-comment-o"></i> {{comments[key].length}}</span>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row text-right" style="padding-right:20px;">
          <h3><i class="octicon octicon-git-branch"></i> {{commit.branch}} <br></h3>
          <span>{{commit.sha.substring(commit.sha.length-10 , commit.sha.length)}}</span> <br>
          <span><strong>Summary :</strong> {{commit.message}}</span>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
        <div ng-repeat="d in data.diffs" id="anchor-{{d.path}}">
            <table class="codeTable">
                <tr style="background:#f5f5f5;">
                    <td style="padding:6px;border-bottom:solid 2px #b5b5b5;"></td>
                    <td style="padding:6px;border-bottom:solid 2px #b5b5b5;"></td>
                    <td style="padding:6px;border-bottom:solid 2px #b5b5b5;">
                        <span>{{d.path}}</span>
                    </td>
                </tr>
                <tr ng-repeat="line in d.diff.split('\n') track by $index" ng-if="$index>1" >
                    <td style=" width:35px;padding:2px;position:relative;cursor:pointer;background:{{mouseOver.file == data.diffs.indexOf(d) && mouseOver.line == $index ? '#eee' :''}}"
                      ng-mouseenter="mouseOn( data.diffs.indexOf(d) , $index)" ng-mouseleave="mouseLeave( data.diffs.indexOf(d) , $index)"
                      ng-click="showCommentBox(data.diffs.indexOf(d) , $index)">
                        <span style="padding:5px;background:#0f8a74;position:absolute;left:-30px;color:white;width:30px;height:24px;cursor:pointer;top:0px;"
                          ng-if="mouseOver.file == data.diffs.indexOf(d) && mouseOver.line == $index" ng-click="showCommentBox(data.diffs.indexOf(d) , $index)">
                          <i class="fa fa-plus pull-right"></i>
                        </span>
                        <span class="text-muted" ng-if="!$last">{{lineNums[d.path][$index][0]}}</span>
                    </td>
                    <td style="border-right:solid 2px #b5b5b5; width:35px;padding:2px;cursor:pointer;background:{{mouseOver.file == data.diffs.indexOf(d) && mouseOver.line == $index ? '#eee' :''}}"
                      ng-mouseenter="mouseOn( data.diffs.indexOf(d) , $index)" ng-mouseleave="mouseLeave( data.diffs.indexOf(d) , $index)" ng-click="showCommentBox(data.diffs.indexOf(d) , $index)">
                      <span class="text-muted" ng-if="!$last">{{lineNums[d.path][$index][1]}}</span>
                    </td>
                    <td class="{{line[0]=='+' ? 'codeAdded':''}} {{line[0]=='-' ?'codeDeleted':''}}" style="margin:0px;">
                      <pre style="padding:0px !important;margin:0px !important;"><code>{{line}}</code></pre>
                      <div class="row" style="background:#f2f2f2;padding:10px;margin:0px;" ng-repeat="c in comments[d.path]" ng-if="c.line==$parent.$index" >
                        <div class="container-fluid" ng-init="showOptions = false;">
                          <div class="col-md-1" style="padding:0px;padding-right:25px;">
                            <div class="row">
                              <img ng-src="{{c.user | getDP}}" class="img-circle pull-right" width="50"/>
                            </div>
                            <div class="row">
                              <span class="pull-right">{{c.user | getName}}{{editComment}}</span>
                            </div>
                          </div>
                          <div class="col-md-11" style="padding:0px;position:relative;" ng-mouseenter="showOptions = true;" ng-mouseleave="showOptions = false;">
                            <span ng-if="form.editCommentPK != c.pk" class="col-md-12" style="box-sizing:border-box;background:white !important;border:solid 1px #24ad9f;padding:10px;margin-top:10px;border-radius:3px;min-height:60px;">{{c.text}}</span>
                            <div ng-if="form.editCommentPK == c.pk" >
                              <div class="col-md-11" style="margin:0px;padding:0px;">
                                <textarea type="text" class="form-control" ng-model="c.text"></textarea>
                              </div>
                              <div class="col-md-1" style="margin:0px;padding:0px;">
                                <div class="btn-group btn-group-sm pull-right">
                                  <button type="button" class="btn btn-primary" ng-click="patchComment(c)">
                                    <i class="fa fa-floppy-o"></i>
                                  </button>
                                  <button type="button" class="btn btn-default" ng-click="cancelCommentEditor(c.pk)">
                                    <i class="fa fa-close"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div style="position:absolute;right:10px;bottom:10px;cursor:pointer;" class="text-muted" ng-if="showOptions && c.user == me.pk && form.editCommentPK !=c.pk">
                              <i class="fa fa-trash fa-lg" ng-click="deleteComment(c.pk)"></i>
                              <i class="fa fa-pencil fa-lg" ng-click="setEditCursor(c)"></i>
                            </div>
                          </div>
                          <hr>
                        </div>
                      </div>
                      <div class="row" style="background:#eee;padding:10px;margin:0px;" ng-if="commentEditor.file == data.diffs.indexOf(d) && commentEditor.line == $index">
                        <div class="col-md-11">
                          <textarea class="form-control" rows="5" cols="40" ng-model="commentEditor.text" ng-if="commentEditor.mode == 'editor'"></textarea>
                          <span ng-if="commentEditor.mode == 'preview'">{{commentEditor.text}}</span>
                        </div>
                        <div class="col-md-1" style="padding:0px;">
                          <div class="btn-group-vertical">
                            <button type="button" class="btn btn-default" ng-click="addComment()">
                              Send <i class="fa fa-paper-plane"></i>
                            </button>
                            <!-- <button type="button" class="btn btn-default" ng-click="changeEditorMode()">
                              {{ commentEditor.mode=='editor' ?'Preview':'Editor'}} <i class="fa fa-{{commentEditor.mode == 'editor'? 'print':'pencil'}}"></i>
                            </button> -->
                            <button type="button" class="btn btn-default" ng-click="commentEditor.line = -1">
                              Cancel <i class="fa fa-close"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </td>
                </tr>
            </table>
            <hr>
        </div>
    </div>
</div>
