<div style="padding:0px;" ng-controller="projectManagement.GIT.repos.explore">
  <div class="col-md-2" style="padding-left:0px;">
    <div class="form-group">
      <label>Branch</label>
      <select class="form-control" ng-model="branchInView" ng-change="getLogs()">
        <option ng-repeat="b in overview.branches" value="{{b}}">{{b}}</option>
      </select>
      <p class="help-block">Select the branch from the dropdown.</p>
    </div>
    <ul class="nav nav-sidebar" style="width:100%;">
      <li ng-class="{active: mode == 'folder'}" ng-click="mode = 'folder'">
        <a href="">
          <div class="text-center">
            <i class="fa fa-files-o fa-lg pull-left"></i>
            Files
          </div>
        </a>
      </li>
      <li ng-class="{active: mode == 'logs'}" ng-click="mode = 'logs';">
        <a href="">
          <div class="text-center">
            <i class="fa fa-clock-o fa-lg pull-left"></i>
            Commits
          </div>
        </a>
      </li>
      <li ng-if="mode == 'diff'" class="active" ng-click="mode = 'diff';">
        <a href="">
          <div class="text-center">
            <i class="octicon octicon-gist pull-left" style="font-size:22px;"></i>
            Diff
          </div>
        </a>
      </li>
      <li ng-if="mode == 'file'" class="active">
        <a href="">
          <div class="text-center">
            <i class="fa fa-code fa-lg pull-left"></i>
            Code
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-10">
    <div class="row container-fluid" ng-if="mode == 'folder'">
      <div class="row">
        <ol class="breadcrumb">
          <li>
            <a href="" ng-click="navigateViaBreadcrumb(-1)">{{tab.data.name}}</a>
          </li>
          <li ng-repeat="p in relPath.split('/')" ng-if="p.length>0" class="{{$last ? 'active' : ''}}">
            <a href="" ng-click="navigateViaBreadcrumb(p)" ng-if="!$last">{{p}}</a>
            <span ng-if="$last">{{p}}</span>
          </li>
        </ol>
      </div>
      <div class="row container-fluid">
        <div ng-repeat="f in files track by $index" ng-if="f.isDir">
          <div class="row fileList" style="padding:5px;border:solid 1px #eeeeee;" ng-click="exploreSpecific(f)">
            <i class="fa fa-folder" style="color:rgb(46, 85, 130);"></i>
            <span style="color:#8f044b;">{{f.name}}</span>
          </div>
        </div>
        <div ng-repeat="f in files track by $index" ng-if="!f.isDir">
          <div class="row fileList" style="padding:5px;border:solid 1px #eeeeee;" ng-click="exploreSpecific(f)">
            <i class="fa fa-file-o" style="color:rgb(46, 85, 130);"></i>
            <span>{{f.name}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-if="mode == 'file'">
      <div class="row" style="padding-left:10px;padding-right:10px;">
        <ol class="breadcrumb">
          <li>
            <a href="" ng-click="navigateViaBreadcrumb(-1)">{{tab.data.name}}</a>
          </li>
          <li ng-repeat="p in relPath.split('/')" ng-if="p.length>0">
            <a href="" ng-click="navigateViaBreadcrumb(p)">{{p}}</a>
          </li>
          <li class="active">
            <span ng-if="$last">{{fileInView.name}}</span>
          </li>
          <!-- <li class="active">{{fileInView.name}}</li> -->
        </ol>
      </div>
      <div class="row">
        <div hljs hljs-source="fileInView.src" style="padding:10px;"></div>
      </div>
    </div>
    <div class="row container-fluid" ng-if="mode == 'logs'">
      <div ng-repeat="l in logs">
        <div class="row fileList" style="padding:5px;border:solid 1px #eeeeee;{{logConfig.summaryInView==$index? 'background-color:#eeeeee;': ''}}" ng-click="showCommitSummary($index)">
          <div class="col-md-1">
            <img ng-src="{{-1 | getDP}}" class="img-circle" width="40" height="40"/>
          </div>
          <div class="col-md-3">
            <div class="row">
              {{l.committer.name}}
            </div>
            <div class="row">
              {{l.committer.email}}
            </div>
          </div>
          <div class="col-md-4">
            {{l.message}}
          </div>
          <div class="col-md-2">
            {{l.id.substring(l.id.length-10 , l.id.length)}}
          </div>
          <div class="col-md-1 text-center">
            <span class="pull-right">{{l.date | date : 'hh:mm:a'}} </span><br>
            <span class="pull-right">{{l.date | date : 'dd MMM'}}</span>
          </div>
          <div class="col-md-1">
            <div class="btn-group btn-group-sm pull-right">
              <button type="button" class="btn btn-default" ng-click="showCommitDiff($index);$event.stopPropagation();">
                <i class="fa fa-code fa-lg"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="row" style="border:solid 1px #eeeeee;background-color:#fefefe" ng-if="logConfig.summaryInView == $index">
          <div class="container-fluid" style="padding-left:70px;">
            <div ng-repeat="(key , val) in l.files">
              <div class="col-md-1">
                <span class="label label-warning col-md-6">-{{val.deletions}}</span>
                <span class="label label-success col-md-6">+{{val.insertions}}</span>
              </div>
              <div class="col-md-11">
                {{key}}
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
      <nav>
        <ul class="pager">
          <li ng-click="prevLogs()" ng-class="{disabled : logConfig.page == 0}">
            <a href="">Previous</a>
          </li>
          <li ng-click="nextLogs()">
            <a href="">Next</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="row container-fluid" ng-if="mode == 'diff'">
      <div ng-repeat="d in commit.diffs">
        <div class="row bg-aqua container-fluid">
          {{d.path}}
        </div>
        <div hljs hljs-source="d.diff" style="padding:0px;"></div>
      </div>
    </div>
  </div>
</div>
