<div class="container-fluid" ng-controller="projectManagement.GIT.manage.profile">
  <div class="row card">
    <div class="col-md-2" style="padding-top:15px;">
      <div class="col-md-9">
        <div class="row">
          <img ng-src="{{data.user | getDP}}" class="img-circle" height="40" width="40" />
        </div>
        <div class="row">
          {{data.user | getName}}
        </div>
      </div>
      <div class="col-md-3">
        <i class="fa fa-desktop fa-2x text-muted"></i>
      </div>
    </div>
    <div class="col-md-10">
      <div ng-if="data.devices.length == 0">
        <h4 class="text-muted">No device to list</h4>
      </div>
      <row ng-repeat="d in data.devices">
        <div class="col-md-11">
          <strong>{{d.name}}</strong> <br>
          <span style="word-wrap:break-word;">{{d.sshKey}}</span>
        </div>
        <div class="col-md-1" style="padding-top:20px;">
          <i class="fa fa-trash-o fa-lg pull-right" style="cursor:pointer;" ng-click="deleteKey(d.pk)"></i><br><br>
          <!-- <i class="fa fa-pencil fa-lg pull-right"></i><br> -->
        </div>
      </row>
    </div>
  </div>
</div>
